.tabbrowser-tab {
  padding: 5px 11px 3px 10px;
}

.tabbrowser-tab[selected="true"] {
  padding-bottom: 4px;
  padding-top: 4px;
}

.tabbrowser-tab[pinned] {
  padding-left: 16px;
  padding-right: 16px;
}
