/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#instruments-pane {
  min-width: 50px;
  -moz-margin-start: 0px !important;
}

#instruments-pane[animated] {
  transition: margin 0.25s ease-in-out;
}
