/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.side-menu-widget-container:-moz-locale-dir(ltr),
.side-menu-widget-item-or-group:-moz-locale-dir(ltr) {
  box-shadow: inset -1px 0 0 #222426;
}

.side-menu-widget-container:-moz-locale-dir(rtl),
.side-menu-widget-item-or-group:-moz-locale-dir(rtl) {
  box-shadow: inset 1px 0 0 #222426;
}

.side-menu-widget-item.selected {
  border-top: 0;
  padding-top: 1px;
}

.side-menu-widget-item-arrow {
  -moz-margin-start: -8px;
  width: 8px;
}

.side-menu-widget-item.selected > .side-menu-widget-item-arrow {
  margin-top: -1px;
}

.variables-view-scope > .variables-view-element-details.nonenum:not(:empty) {
  border-top: 1px solid #ddd;
}

.variable-or-property:not(:focus) > .title > .token-string {
  max-width: 30em;
}
