/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  -moz-appearance: none;
  font-size: 75%;
  background-color: transparent;
}

/* SCROLLBOX */
#newtab-scrollbox:not([page-disabled]) {
  background-color: rgb(229,229,229);
  background-image: url(chrome://browser/skin/newtab/noise.png),
                     linear-gradient(to bottom, rgba(255,255,255,.3), rgba(255,255,255,.2));
                     /*
                    linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.2));
                    */
  background-attachment: fixed;
}

/* SIDE MARGIN */
.newtab-side-margin {
/*  width: 150px;*/
  width: 350px; /* Should give a nice squarish thumbnails*/
  min-width: 10px;
}

/* UNDO */
/* FIXME: Need uncomment and fix it
#newtab-undo-container {
  padding: 4px 3px;
  border: 1px solid;
  border-color: rgba(8,22,37,.12) rgba(8,22,37,.14) rgba(8,22,37,.16);
  background-color: rgba(255,255,255,.4);
  color: #525e69;
}

#newtab-undo-label {
  margin-top: 0;
  margin-bottom: 0;
}

.newtab-undo-button {
  -moz-appearance: none;
  color: rgb(221,72,20);
  cursor: pointer;
  padding: 0;
  margin: 0 4px;
  border: 0;
  background: transparent;
  text-decoration: none;
  min-width: 0;
}

.newtab-undo-button:hover {
  text-decoration: underline;
}

.newtab-undo-button:-moz-focusring {
  outline: 1px dotted;
}

#newtab-undo-close-button {
  padding: 0;
  border: none;
  list-style-image: url("moz-icon://stock/gtk-close?size=menu");
  -moz-user-focus: normal;
}

#newtab-undo-close-button > .toolbarbutton-icon {
  margin: -4px;
}

#newtab-undo-close-button > .toolbarbutton-text {
  display: none;
}

#newtab-undo-close-button:-moz-focusring {
  outline: 1px dotted;
}
*/

/* TOGGLE */
#newtab-toggle {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background: -216px 0 transparent url(chrome://browser/skin/newtab/controls.png);
}

#newtab-toggle[page-disabled] {
  background-position: -232px 0;
}

/* ROWS */
.newtab-row {
  margin-bottom: 20px;
}

.newtab-row:last-child {
  margin-bottom: 0;
}

/* CELLS */
.newtab-cell {
  -moz-margin-end: 20px;
  background-color: rgba(255,255,255,.2);
  border: 1px solid ;
  border-color: rgba(8,22,37,.12) rgba(8,22,37,.14) rgba(8,22,37,.16);
  border-radius: 3px;
  transition: border-color 100ms ease-out;
}

.newtab-cell:empty {
  border: 1px dashed;
  border-radius: 3px;
  border-color: rgba(8,22,37,.15) rgba(8,22,37,.17) rgba(8,22,37,.19);
  /*
  background: center center url(chrome://browser/skin/symbolic-icons/identity-icons-generic.svg) no-repeat;
  background-size: 32px;
  */
}

.newtab-cell:last-child {
  -moz-margin-end: 0px;
}

.newtab-cell:hover:not(:empty):not([dragged]) {
  border-color: rgba(8,22,37,.25) rgba(8,22,37,.27) rgba(8,22,37,.3);
}

/* SITES */
.newtab-site {
  text-decoration: none;
  transition-property: top, left, opacity, box-shadow, background-color;
  transition-duration: 0.5s;

  /* Consistency FTW, Comment out to go back to the madness */
  background:  url(chrome://browser/skin/symbolic-icons/newtab-placeholder.svg) no-repeat;
  background-size: 96px;
  background-position: 50% calc(50% - (24px / 2)); /* Need -moz prefix for pre-FF16 … half height, compensate for text title */
}

.newtab-site:hover,
.newtab-site[dragged] {
  box-shadow: 0 0 10px rgba(8,22,37,.3);
}

.newtab-site[dragged] {
  transition-property: box-shadow, background-color;
  background-color: rgb(242,242,242);
}

/* THUMBNAILS */
.newtab-thumbnail {
  background-origin: padding-box;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  opacity: 1;
}

/* TITLES */
.newtab-title {
  padding: 0 8px;
  background-color: rgb(229,229,229);
  background-image: url(chrome://browser/skin/newtab/noise.png),
                     linear-gradient(to bottom, rgba(255,255,255,.3), rgba(255,255,255,.2));
  background-attachment: fixed;
  color: rgba(0,0,0,0.55);
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  border-top: 1px solid;
  border-color: rgba(8,22,37,.12) rgba(8,22,37,.14) rgba(8,22,37,.16);
  font-size: 100%;
  line-height: 24px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  border-radius: 0 0 2px 2px;
  text-align: center;
}

.newtab-cell:hover .newtab-title {
  background-image: none;
  background-color: rgba(0,0,0,0.8);
  color: rgba(255,255,255,0.8);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

/* CONTROLS */
.newtab-control {
  width: 16px;
  height: 16px;
  padding: 1px 2px 3px;
  border: none;
}

.newtab-control-pin {
  background: url(chrome://browser/skin/symbolic-icons/pin_white.svg) no-repeat center;
  background-color: rgba(0,0,0,0.25);
  border-radius: 70px;
}

.newtab-control-pin[pinned] {
  background: url(chrome://browser/skin/symbolic-icons/pin_white.svg) no-repeat center;
  background-color: rgba(0,0,0,0.55);
  border-radius: 70px;
  -moz-transform: rotate(30deg);
}

.newtab-control-pin[pinned]:hover {
  background-color: rgba(0,0,0,0.85);
}

.newtab-control-block {
  background: url(chrome://browser/skin/symbolic-icons/close_white.svg) no-repeat center;
  background-color: rgba(0,0,0,0.25);
  border-radius: 70px;
}

.newtab-control-block:hover {
  background-color: rgba(0,0,0,0.85);
}

.newtab-control-pin,
.newtab-control-block,
.newtab-title {
  transition-property: background-color, color, text-shadow;
  transition-duration: 0.4s;
}
