/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  -moz-appearance: none;
  background-color: transparent;
}

/* SCROLLBOX */
#newtab-scrollbox:not([page-disabled]) {
  background-color: rgb(229,229,229);
  background-image: url(chrome://browser/skin/newtab/noise.png),
                    -moz-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.2));
  background-attachment: fixed;
}

/* SIDE MARGIN */
.newtab-side-margin {
  width: 150px;
  min-width: 10px;
}

/* TOGGLE */
#newtab-toggle {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background: -216px 0 transparent url(chrome://browser/skin/newtab/controls.png);
}

#newtab-toggle[page-disabled] {
  background-position: -232px 0;
}

/* ROWS */
.newtab-row {
  margin-bottom: 20px;
}

.newtab-row:last-child {
  margin-bottom: 0;
}

/* CELLS */
.newtab-cell {
  -moz-margin-end: 20px;
  background-color: rgba(255,255,255,.2);
  border: 2px solid;
  border-color: rgba(8,22,37,.12) rgba(8,22,37,.14) rgba(8,22,37,.16);
  border-radius: 5px;
  -moz-transition: border-color 100ms ease-out;
}

.newtab-cell:empty {
  border: 1px dashed;
  border-color: rgba(8,22,37,.15) rgba(8,22,37,.17) rgba(8,22,37,.19);
}

.newtab-cell:last-child {
  -moz-margin-end: 0px;
}

.newtab-cell:hover:not(:empty) {
  border-color: rgba(8,22,37,.25) rgba(8,22,37,.27) rgba(8,22,37,.3);
}

/* SITES */
.newtab-site {
  text-decoration: none;
  -moz-transition-property: top, left, opacity, box-shadow, background-color;
}

.newtab-site:hover,
.newtab-site[dragged] {
  box-shadow: 0 0 10px rgba(8,22,37,.3);
}

.newtab-site[dragged] {
  -moz-transition-property: box-shadow, background-color;
  background-color: rgb(242,242,242);
}

/* THUMBNAILS */
.newtab-thumbnail {
  background-origin: padding-box;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0 !important;
}

/* TITLES */
.newtab-title {
  padding: 0 8px;
  background-color: transparent;
  color: transparent;
  font-size: 100%;
  line-height: 24px;
  border-radius: 0 0 2px 2px;
  text-align: center;
}

.newtab-cell:hover .newtab-title {
  background-color: rgba(0,0,0,.85);
  color: rgba(255,255,255,0.8);
}

/* CONTROLS */
.newtab-control {
  width: 24px;
  height: 24px;
  padding: 1px 2px 3px;
  border: none;
}

.newtab-control-pin {
  background: url(chrome://browser/skin/symbolic-icons/pin_white.svg) no-repeat center;
  background-color: rgba(0,0,0,0.25);
  border-radius: 70px;
}

.newtab-control-pin[pinned] {
  background: url(chrome://browser/skin/symbolic-icons/pin_white.svg) no-repeat center;
  background-color: rgba(0,0,0,0.25);
  border-radius: 70px;
}

.newtab-control-pin[pinned]:hover {
  background-color: rgba(0,0,0,0.85);
}

.newtab-control-block {
  background: url(chrome://browser/skin/symbolic-icons/close_white.svg) no-repeat center;
  background-color: rgba(0,0,0,0.25);
  border-radius: 70px;
}

.newtab-control-block:hover {
  background-color: rgba(0,0,0,0.85);
}
