/* All-in-One Sidebar
 * id: {097d3191-e6fa-4728-9826-b533d755359d}
 * URL: https://addons.mozilla.org/firefox/addon/all-in-one-sidebar/ */

@-moz-document url("chrome://browser/content/browser.xul") {

#aios-sbhtoolbar > .tabs-closebutton {
  list-style-image: url(chrome://symbolic-icons/skin/close.svg);
}
#aios-sbhtoolbar > .tabs-closebutton > .toolbarbutton-icon {
  margin: 0;
}

#addons-button.aios-tbutton {
  list-style-image: url(chrome://symbolic-icons/skin/addon.svg);
  -moz-image-region: auto !important;
}

#pageinfo-button.aios-tbutton {
  list-style-image: url(chrome://symbolic-icons/skin/information.svg);
  -moz-image-region: auto !important;
}

#multipanel-button.aios-tbutton {
}

}

@-moz-document url("about:addons") {

#addons-page[aios-inSidebar] {
  background: none;
}

#addons-page[aios-inSidebar] #header {
  border-top: 1px solid #a7a7a7;
}

#addons-page[aios-inSidebar] .category-icon {
  display: -moz-box;
}

#addons-page[aios-inSidebar] .category {
  border: none;
}

}
