/* LastPass Password Manager
 * id: support@lastpass.com
 * URL: https://addons.mozilla.org/firefox/addon/lastpass-password-manager/ */

#lpt_lastpass-compact-btn,
#lpt_lastpass-compact-btn.iconsetff4 {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/lastpass-password-manager.svg) !important;
}

#lpt_lastpass-compact-btn image,
#lpt_lastpass-compact-btn.iconsetff4 image {
  opacity: .5;
}

#lpt_lastpass-compact-btn.lploggedin image,
#lpt_lastpass-compact-btn.lploggediniconsetff4 image {
  opacity: 1;
}
