
body.private > #errorPageContainer {
/*  background-image: url("chrome://browser/skin/Privacy-48.png");*/
}

body.normal > #errorPageContainer {
/*  background-image: url("moz-icon://stock/gtk-dialog-question?size=dialog");*/
}
#clearRecentHistoryDesc {
  margin-top: 2em;
}

#clearRecentHistoryDesc > p {
  font-size: 110%; /* to match the value set in chrome://global/skin/netError.css */
}

#startPrivateBrowsingDesc > button {
  -moz-margin-start: 0;
}

#footerDesc > p {
  font-size: 100%; /* to match the value set in chrome://global/skin/netError.css */
}

#moreInfo {
  font-size: 100%; /* to match the value set in chrome://global/skin/netError.css */
  -moz-padding-start: 25px;
  -moz-padding-end: 70px;
  margin-top: 30px;
  color: grey;
  background: url("chrome://browser/skin/symbolic-icons/information.svg") no-repeat top left;
}

#moreInfo:-moz-dir(rtl) {
  background-position: top right;
}

#moreInfoText {
  margin-bottom: 0;
}

#moreInfoLinkContainer {
  margin-top: 0.5em;
}

#moreInfoLink{
  color: grey  !important;
}
