/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
}

body {
  margin: 0;
  padding: 0;
  font: 11pt cantarell;
  color: #2e3436;
  padding: 20px 20px 0 20px;
  background-color: #f6f6f4;
  background-image: linear-gradient(to bottom, #eeeeec, #f6f6f4);
  background-size: 100% 5em;
  background-repeat: no-repeat;
}

h1 {
  color: #babdb6;
  text-shadow: 0 1px 0 white;
  margin: 0 0 .3em 0;
  font-size: 160%;
}

h2 {
  font-size: 130%;
}


/*Replace the bold text with a nicer alternative*/
p > b {
  font-weight: normal !important;
  color: #868883;
}

#errorPageContainer {
  position: relative;
  min-width: 13em;
  max-width: 65em;
  margin: auto;
  padding: 3em 0;
  -moz-padding-start: 5em;
  text-align: left;
  color: #2e3436;
}

#errorPageContainer:-moz-dir(rtl) {
  background-position: right 0;
}

#errorTitle {
  -moz-margin-start: 80px;
}

#errorLongContent {
  -moz-margin-start: 80px;
}

.expander > button {
  -moz-padding-start: 20px;
  -moz-margin-start: -20px;
  background: url(chrome://browser/skin/symbolic-icons/go-down.svg) left center no-repeat;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.expander > button:-moz-dir(rtl) {
  background-position: right center;
}

.expander[collapsed] > button {
  background-image: url(chrome://browser/skin/symbolic-icons/go-next.svg)
}

.expander[collapsed] > button:-moz-dir(rtl) {
  background-image: url(chrome://browser/skin/symbolic-icons/go-previous.svg)
}
