#errorTitle {
  -moz-margin-start: 150px;
}

#errorLongContent {
  -moz-margin-start: 150px;
}

body.private > #errorPageContainer {
  background-image: url(chrome://browser/skin/about-pages/private-browsing.svg);
}

body.normal > #errorPageContainer {
  /*
  background-image: url("moz-icon://stock/gtk-dialog-question?size=dialog");
  */
}

#errorPageContainer {
  background-position: 3em 2.5em;
}

h1 {
  color: #9200a0;
}

#clearRecentHistoryDesc {
  margin-top: 2em;
}

#clearRecentHistoryDesc > p {
  font-size: 110%; /* to match the value set in chrome://global/skin/netError.css */
}

#startPrivateBrowsingDesc > button {
  -moz-margin-start: 0;
}

#footerDesc > p {
  font-size: 100%; /* to match the value set in chrome://global/skin/netError.css */
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

#moreInfo {
  padding: 0;
}

#moreInfo > p {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

#moreInfoText {
  margin-bottom: 0;
}

#moreInfoLinkContainer {
  margin-top: 0.5em;
}

#moreInfoLink{
  color: #3a81cc !important;
  text-decoration: none;
}

#moreInfoLink:hover {
  text-decoration: underline;
}
