/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ::::: General style ::::: */

:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton {
  -moz-appearance: none;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #2e3436;
  text-shadow: none;
  transition-property: border, box-shadow, background;
  transition-duration: 200ms;
}

:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton:not([disabled="true"]):hover {
  background-image: linear-gradient(to bottom, #fff, #ebebeb);
  border-color: #a7aba7;
  box-shadow: 0 1px 0 rgba(255,255,255,0.37);
}

:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton:not([disabled="true"]):hover:-moz-lwtheme {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.8) 40%, rgba(220,220,220,0.5));
  border-color: rgba(50,50,50,.4);
  box-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton:not([disabled="true"]):active:hover,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[open="true"],
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[open="true"]:hover,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[checked="true"],
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[checked="true"]:hover {
  background-image: linear-gradient(to bottom, #a6aaa6, #e2e2e2);
  border-color: #a7aba7;
  box-shadow: 0 1px 0 rgba(255,255,255,0.37);
}

:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton:not([disabled="true"]):active:hover:-moz-lwtheme,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[open="true"]:-moz-lwtheme,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[open="true"]:hover:-moz-lwtheme,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[checked="true"]:-moz-lwtheme,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[checked="true"]:hover:-moz-lwtheme {
  background-image: linear-gradient(to bottom, rgba(0,10,0,0.3), rgba(200,200,200,0.3));
  border-color: rgba(180,180,180,1);
  box-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu"][open="true"],
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu"][open="true"]:hover,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu"][open="true"]:active,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu"][open="true"]:active:hover,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu-button"][open="true"],
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu-button"][open="true"]:hover,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu-button"][open="true"]:active,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu-button"][open="true"]:active:hover {
  background: #fff;
  border-color: #fff;
  border-radius: 3px 3px 0 0;
  box-shadow: none;
}

:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu"][open="true"]:-moz-lwtheme,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu"][open="true"]:hover:-moz-lwtheme,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu"][open="true"]:active:-moz-lwtheme,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu"][open="true"]:active:hover:-moz-lwtheme,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu-button"][open="true"]:-moz-lwtheme,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu-button"][open="true"]:hover:-moz-lwtheme,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu-button"][open="true"]:active:-moz-lwtheme,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[type="menu-button"][open="true"]:active:hover:-moz-lwtheme {
  background: rgba(255,255,255,0.8);
  border-color: rgba(255,255,255,0.8);
}

:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[disabled="true"],
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[disabled="true"]:hover,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[disabled="true"]:active,
:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton[disabled="true"]:active:hover {
  color: #a7aba7;
}

/* */

:-moz-any(#navigator-toolbox, #addon-bar) .toolbarbutton-menu-dropmarker,
:-moz-any(#navigator-toolbox, #addon-bar) .toolbarbutton-menubutton-dropmarker {
  -moz-appearance: none !important;
  -moz-image-region: auto;
  list-style-image: url(chrome://symbolic-icons/skin/dropmarker.svg);
  padding: 0;
  margin: 0;
}

:-moz-any(#navigator-toolbox, #addon-bar) .toolbarbutton-menu-dropmarker {
  display: none;
  -moz-margin-start: 2px;
  -moz-margin-end: -2px;
}

:-moz-any(#navigator-toolbox, #addon-bar) .toolbarbutton-menubutton-dropmarker {
  -moz-box-align: center;
  -moz-border-start: 1px solid transparent;
  -moz-margin-end: 1px;
  -moz-margin-start: 1px;
}

:-moz-any(#navigator-toolbox, #addon-bar) toolbarbutton:not([open="true"]):hover > .toolbarbutton-menubutton-dropmarker {
  -moz-border-start: 1px solid rgba(50,50,50,.1);
}

:-moz-any(#navigator-toolbox, #addon-bar) .toolbarbutton-menubutton-button {
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  -moz-padding-start: 3px !important;
  -moz-padding-end: 0px !important;
}

:-moz-any(#navigator-toolbox, #addon-bar) .toolbarbutton-menubutton-button .toolbarbutton-icon {
  -moz-margin-end: 0 !important;
}

/* ::::: ::::: */

#nav-bar > toolbarbutton[disabled="true"],
#nav-bar :-moz-any(#back-button, #forward-button, #zoom-out-button, #zoom-in-button, #bookmarks-menu-button)[disabled="true"] {
  opacity: 1;
}

#nav-bar > toolbarbutton[disabled="true"] > .toolbarbutton-icon,
#nav-bar > toolbarbutton[disabled="true"] > .toolbarbutton-menu-dropmarker,
#nav-bar :-moz-any(#back-button, #forward-button, #zoom-out-button, #zoom-in-button)[disabled="true"] > .toolbarbutton-icon {
  opacity: .5;
}


/* ::::: Primary toolbarbuttons ::::: */

.toolbarbutton-1 {
  padding: 3px;
}

.toolbarbutton-1:not([type="menu-button"]) {
  -moz-box-orient: vertical;
  min-width: 0;
}

.toolbarbutton-1 > .toolbarbutton-icon {
  -moz-margin-end: 0;
}

toolbar[mode="full"] .toolbarbutton-1:not([type="menu-button"]),
toolbar[mode="full"] .toolbarbutton-1 > .toolbarbutton-menubutton-button {
  min-width: 57px;
}

#navigator-toolbox[iconsize=large] > #nav-bar .toolbarbutton-1 {
  margin: 0px 3px;
  min-height: 28px;
  min-width: 26px;
}

#navigator-toolbox[iconsize=small] > #nav-bar .toolbarbutton-1 {
  margin: 0px 2px;
  min-height: 26px;
  padding: 0px 3px;
}

#navigator-toolbox[iconsize=large] > #nav-bar .toolbarbutton-1 {
  padding: 0px 3px;
}

/* ::::: Relief buttons ::::: */

#navigator-toolbox[iconsize=large] > #nav-bar :-moz-any(#back-button, #forward-button),
#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] .toolbarbutton-1 {
  min-width: 32px !important;
}

#nav-bar :-moz-any(#unified-back-forward-button, #zoom-controls):hover > toolbarbutton:not(:hover):not([open="true"]):not([disabled="true"]),
#navigator-toolbox[iconsize=large] > #nav-bar :-moz-any(#back-button, #forward-button):not(:hover):not([open="true"]):not([disabled="true"]),
#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] :not(#window-controls) toolbarbutton:not(:hover):not([open="true"]):not([checked="true"]):not([disabled="true"]),
#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] > toolbarbutton:not(:hover):not([open="true"]):not([checked="true"]):not([disabled="true"]) {
  background-image: linear-gradient(to bottom, #f8f8f8, #ededed 40%, #dbdbdb);
  border-color: #a7aba7;
  box-shadow: 0 1px 0 rgba(255,255,255,0.37), /* bottom */
              inset 0 1px 0 rgba(255,255,255,0.45),
              inset 1px 0 0 rgba(255,255,255,0.3),
              inset -1px 0 0 rgba(255,255,255,0.3);
}

#nav-bar :-moz-any(#unified-back-forward-button, #zoom-controls):hover > toolbarbutton:not(:hover):not([open="true"]):not([disabled="true"]):-moz-lwtheme,
#navigator-toolbox[iconsize=large] > #nav-bar :-moz-any(#back-button, #forward-button):not(:hover):not([open="true"]):not([disabled="true"]):-moz-lwtheme,
#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] :not(#window-controls) toolbarbutton:not(:hover):not([open="true"]):not([checked="true"]):not([disabled="true"]):-moz-lwtheme,
#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] > toolbarbutton:not(:hover):not([open="true"]):not([checked="true"]):not([disabled="true"]):-moz-lwtheme {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.6), rgba(200,200,200,0.5));
  border-color: rgba(50,50,50,.4);
  box-shadow: 0 1px 0 rgba(255,255,255,0.15),
              inset 0 1px 0 rgba(255,255,255,0.3),
              inset 1px 0 0 rgba(255,255,255,0.2),
              inset -1px 0 0 rgba(255,255,255,0.2);
}

#navigator-toolbox[iconsize=large] > #nav-bar :-moz-any(#back-button, #forward-button)[disabled="true"],
#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] toolbarbutton[disabled="true"] {
  background: rgba(255,255,255,0.3);
  border-color: rgba(50,50,50,.4);
  box-shadow: none;
}

#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] .toolbarbutton-menu-dropmarker {
  -moz-margin-start: -1px;
  -moz-margin-end: -1px;
}

#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] .toolbarbutton-menubutton-dropmarker {
  -moz-padding-end: 2px;
  -moz-padding-start: 2px;
}
#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] *:not([open="true"]) > .toolbarbutton-menubutton-dropmarker {
  -moz-border-start: 1px solid rgba(50,50,50,.1) !important;
}

#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] .toolbarbutton-menubutton-button {
  -moz-padding-start: 3px !important;
  -moz-padding-end: 3px !important;
}
#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] .toolbarbutton-menubutton-button > .toolbarbutton-icon {
  -moz-margin-end: 0 !important;
}

/* ::::: Connected buttons ::::: */

#navigator-toolbox[iconsize=large] > #nav-bar #back-button:not(:active):not([open="true"]),
#navigator-toolbox[iconsize=large] > #nav-bar #back-button[disabled="true"],
#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] #zoom-controls toolbarbutton:first-of-type {
  -moz-border-end-color: rgba(0,0,0,.10) !important;
}
#navigator-toolbox[iconsize=large] > #nav-bar #forward-button:not(:active):not([open="true"]),
#navigator-toolbox[iconsize=large] > #nav-bar #forward-button[disabled="true"],
#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] #zoom-controls toolbarbutton:last-of-type {
  -moz-border-start-color: rgba(0,0,0,.10) !important;
}

#nav-bar #unified-back-forward-button:not([forwarddisabled]):hover > #back-button:not([disabled="true"]),
#nav-bar #zoom-controls:hover > toolbarbutton:first-of-type {
  -moz-border-end-color: rgba(0,0,0,.10) !important;
}
#nav-bar #unified-back-forward-button:hover > #back-button:not([disabled="true"]) + #forward-button:not([disabled="true"]),
#nav-bar #zoom-controls:hover > toolbarbutton:last-of-type {
  -moz-border-start-color: rgba(0,0,0,.10) !important;
}

/* It's universal code (can be used for 3+ buttons in group) */

#nav-bar :-moz-any(#unified-back-forward-button, #zoom-controls) > toolbarbutton:not(:first-of-type):not(:last-of-type) {
  border-radius: 0;
  -moz-margin-start: -1px !important;
  -moz-margin-end: 0 !important;
}

#nav-bar :-moz-any(#unified-back-forward-button, #zoom-controls) > toolbarbutton:first-of-type {
  -moz-margin-end: 0 !important;
}
#nav-bar :-moz-any(#unified-back-forward-button, #zoom-controls) > toolbarbutton:last-of-type {
  -moz-margin-start: -1px !important;
}

#nav-bar:-moz-locale-dir(ltr) :-moz-any(#unified-back-forward-button, #zoom-controls) > toolbarbutton:first-of-type,
#nav-bar:-moz-locale-dir(rtl) :-moz-any(#unified-back-forward-button, #zoom-controls) > toolbarbutton:last-of-type {
  border-radius: 3px 0px 0px 3px;
}
#nav-bar:-moz-locale-dir(ltr) :-moz-any(#unified-back-forward-button, #zoom-controls) > toolbarbutton:last-of-type,
#nav-bar:-moz-locale-dir(rtl) :-moz-any(#unified-back-forward-button, #zoom-controls) > toolbarbutton:first-of-type {
  border-radius: 0px 3px 3px 0px;
}

/* */
#nav-bar[customizing] :-moz-any(#back-button, #zoom-out-button) {
  -moz-margin-end: 0 !important;
}
#nav-bar[customizing] :-moz-any(#forward-button, #zoom-in-button) {
  -moz-margin-start: -1px !important;
}
#nav-bar[customizing]:-moz-locale-dir(ltr) #back-button,
#nav-bar[customizing]:-moz-locale-dir(rtl) #forward-button {
  border-radius: 3px 0px 0px 3px;
}
#nav-bar[customizing]:-moz-locale-dir(ltr) #forward-button,
#nav-bar[customizing]:-moz-locale-dir(rtl) #back-button {
  border-radius: 0px 3px 3px 0px;
}
