/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: global/findBar.css ::::: */

findbar:-moz-window-inactive {
  background: #e0e0e0 !important;
}

.findbar-find-status:-moz-window-inactive {
  color: #a7aba7;
}

.find-status-icon:-moz-window-inactive {
  opacity: 0.5;
}

findbar checkbox:-moz-window-inactive {
  color: #a7aba7 !important;
}

findbar toolbarbutton:-moz-window-inactive,
findbar toolbarbutton:-moz-window-inactive:hover {
  background: transparent !important;
  color: #a7aba7 !important;
}

findbar toolbarbutton:-moz-window-inactive[checked="true"] {
  background: rgba(100,110,100,0.5) !important;
  border-color: transparent !important;
  color: #eaeaea !important;
  text-shadow: 0 0 0 #ffffff;
}

findbar toolbarbutton:-moz-window-inactive > .toolbarbutton-icon {
  opacity: .5;
}

/* ::::: global/global.css ::::: */

notification > button:-moz-window-inactive,
notification toolbarbutton:-moz-window-inactive {
  background-image: none !important;
  background-color: #ededed !important;
  border: 1px solid rgba(0,0,0,.2) !important;
  color: #a7aba7 !important;
}

/* ::::: global/notification.css ::::: */

notification:-moz-window-inactive {
  background: #fff !important;
  color: rgba(0,0,0,0.5) !important;
}

notification .messageImage:-moz-window-inactive {
  opacity: 0.5;
}

@-moz-document url("chrome://browser/content/browser.xul") {

/* ::::: browser/browser.css ::::: */

#main-menubar:-moz-window-inactive > * {
  color: #a7aba7 !important;
}

/* Inactive styling of the tabstrip for tabs on top */
#main-window:-moz-window-inactive #navigator-toolbox:not([tabsontop="false"]) > #nav-bar {
  background: #f8f8f6 !important;
}

#navigator-toolbox toolbarbutton:-moz-window-inactive,
#navigator-toolbox toolbarbutton:-moz-window-inactive:hover {
  background: transparent !important;
  color: #a7aba7 !important;
}

#navigator-toolbox toolbarbutton:-moz-window-inactive[checked="true"] {
  background: rgba(100,110,100,0.5) !important;
  border-color: transparent !important;
  color: #eaeaea !important;
  text-shadow: 0 0 0 #ffffff;
}

#navigator-toolbox toolbarbutton:not([checked="true"]):-moz-window-inactive > .toolbarbutton-icon,
#navigator-toolbox toolbarbutton:-moz-window-inactive > .toolbarbutton-menu-dropmarker,
#navigator-toolbox toolbarbutton:-moz-window-inactive > .toolbarbutton-menubutton-dropmarker {
  opacity: .5;
}

#nav-bar[iconsize=large] #back-button:-moz-window-inactive,
#nav-bar[iconsize=large] #forward-button:-moz-window-inactive,
/* Relief buttons */
#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] > :-moz-any(toolbarbutton:not(#close-button), .toolbarbutton-menubutton-dropmarker):-moz-window-inactive:not([checked="true"]),
#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] > toolbaritem:not(#urlbar):not(#unified-back-forward-button) > :-moz-any(toolbarbutton:not(#close-button), .toolbarbutton-menubutton-dropmarker):-moz-window-inactive:not([checked="true"]) {
  background: transparent !important;
  box-shadow: none !important;
}

:-moz-any(
  #downloads-button, #history-button, #bookmarks-button, #fullscreen-button
)[checked="true"]:-moz-window-inactive > .toolbarbutton-icon {
  filter: url(chrome://browser/skin/symbolic-icons-colors.svg#checked-inactive);
}

/* Fix for go/stop/reload buttons */
#urlbar-go-button:-moz-window-inactive > .toolbarbutton-icon,
#urlbar-stop-button:-moz-window-inactive > .toolbarbutton-icon,
#urlbar-reload-button:-moz-window-inactive > .toolbarbutton-icon {
  opacity: 1;
}

/* Recolor tabstrip underline when the window is inactive */
#main-window:-moz-window-inactive #TabsToolbar[tabsontop="false"] {
  -moz-border-bottom-colors: #a7a7a7 #f8f8f6 #f8f8f6 !important;
}

#main-window:-moz-window-inactive textbox {
  background: #f8f8f6 !important;
  box-shadow: none !important;
  color: #6a6f6e !important;
}

#main-window:-moz-window-inactive #urlbar:-moz-lwtheme,
#main-window:-moz-window-inactive .searchbar-textbox:-moz-lwtheme {
  background: rgba(255,255,255,0.5) !important;
}

#page-proxy-favicon:-moz-window-inactive {
  opacity: .35 !important;
}

#star-button:-moz-window-inactive,
#urlbar-go-button:-moz-window-inactive,
#urlbar-stop-button:-moz-window-inactive,
#urlbar-reload-button:-moz-window-inactive,
.urlbar-history-dropmarker:-moz-window-inactive,
.search-go-container:-moz-window-inactive {
  opacity: .35 !important;
}

#star-button[starred="true"]:-moz-window-inactive {
  opacity: .7 !important;
}

#main-window:-moz-window-inactive .tabbrowser-tab {
  color: #a7aba7 !important;
}

#main-window:-moz-window-inactive .tabbrowser-tab[selected="true"] > .tab-stack {
  -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-selected-inactive.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}

#main-window:-moz-window-inactive .tabbrowser-tab:not([selected="true"]) > .tab-stack {
  -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-inactive.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}
#main-window:-moz-window-inactive .tabbrowser-tab[selected="true"] ~ .tabbrowser-tab > .tab-stack {
  -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-inactive-right.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}
#main-window:-moz-window-inactive .tabbrowser-tab[selected="true"] ~ .tabbrowser-tab:-moz-locale-dir(rtl) > .tab-stack {
  -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-inactive-right-rtl.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}
#main-window:-moz-window-inactive .tabbrowser-tabs[overflow] > .tabbrowser-tab[pinned] + .tabbrowser-tab:not([pinned]):not([selected="true"]) > .tab-stack,
#main-window:-moz-window-inactive .tabbrowser-tabs[overflow] > .tabbrowser-tab[pinned] ~ .tabbrowser-tab[hidden="true"] + .tabbrowser-tab:not([hidden="true"]):not([selected="true"]) > .tab-stack {
  -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-inactive.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}

#main-window:-moz-window-inactive .tabbrowser-tab[titlechanged]:not([selected="true"]) > .tab-stack {
  -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-new-inactive.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}
#main-window:-moz-window-inactive .tabbrowser-tab[selected="true"] ~ .tabbrowser-tab[titlechanged] > .tab-stack {
  -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-new-inactive-right.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}
#main-window:-moz-window-inactive .tabbrowser-tab[selected="true"] ~ .tabbrowser-tab[titlechanged]:-moz-locale-dir(rtl) > .tab-stack {
  -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-new-inactive-right-rtl.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}
#main-window:-moz-window-inactive .tabbrowser-tabs[overflow] > .tabbrowser-tab[pinned] + .tabbrowser-tab:not([pinned])[titlechanged] > .tab-stack,
#main-window:-moz-window-inactive .tabbrowser-tabs[overflow] > .tabbrowser-tab[pinned] ~ .tabbrowser-tab[hidden="true"] + .tabbrowser-tab:not([hidden="true"])[titlechanged] > .tab-stack {
  -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-new-inactive.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}

@media (min-resolution: 2dppx) {
  #main-window:-moz-window-inactive .tabbrowser-tab[selected="true"] > .tab-stack {
    -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-selected-inactive@2x.png) 14 16 2 16 fill / 7px 8px 1px 8px stretch !important;
  }

  #main-window:-moz-window-inactive .tabbrowser-tab:not([selected="true"]) > .tab-stack {
    -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-inactive@2x.png) 14 16 2 16 fill / 7px 8px 1px 8px stretch !important;
  }
  #main-window:-moz-window-inactive .tabbrowser-tab[selected="true"] ~ .tabbrowser-tab > .tab-stack {
    -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-inactive-right@2x.png) 14 16 2 16 fill / 7px 8px 1px 8px stretch !important;
  }
  #main-window:-moz-window-inactive .tabbrowser-tab[selected="true"] ~ .tabbrowser-tab:-moz-locale-dir(rtl) > .tab-stack {
    -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-inactive-right-rtl@2x.png) 14 16 2 16 fill / 7px 8px 1px 8px stretch !important;
  }
  #main-window:-moz-window-inactive .tabbrowser-tabs[overflow] > .tabbrowser-tab[pinned] + .tabbrowser-tab:not([pinned]):not([selected="true"]) > .tab-stack,
  #main-window:-moz-window-inactive .tabbrowser-tabs[overflow] > .tabbrowser-tab[pinned] ~ .tabbrowser-tab[hidden="true"] + .tabbrowser-tab:not([hidden="true"]):not([selected="true"]) > .tab-stack {
    -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-inactive@2x.png) 14 16 2 16 fill / 7px 8px 1px 8px stretch !important;
  }

  #main-window:-moz-window-inactive .tabbrowser-tab[titlechanged]:not([selected="true"]) > .tab-stack {
    -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-new-inactive@2x.png) 14 16 2 16 fill / 7px 8px 1px 8px stretch !important;
  }
  #main-window:-moz-window-inactive .tabbrowser-tab[selected="true"] ~ .tabbrowser-tab[titlechanged] > .tab-stack {
    -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-new-inactive-right@2x.png) 14 16 2 16 fill / 7px 8px 1px 8px stretch !important;
  }
  #main-window:-moz-window-inactive .tabbrowser-tab[selected="true"] ~ .tabbrowser-tab[titlechanged]:-moz-locale-dir(rtl) > .tab-stack {
    -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-new-inactive-right-rtl@2x.png) 14 16 2 16 fill / 7px 8px 1px 8px stretch !important;
  }
  #main-window:-moz-window-inactive .tabbrowser-tabs[overflow] > .tabbrowser-tab[pinned] + .tabbrowser-tab:not([pinned])[titlechanged] > .tab-stack,
  #main-window:-moz-window-inactive .tabbrowser-tabs[overflow] > .tabbrowser-tab[pinned] ~ .tabbrowser-tab[hidden="true"] + .tabbrowser-tab:not([hidden="true"])[titlechanged] > .tab-stack {
    -moz-border-image: url(chrome://browser/skin/tabbrowser/adwaita-tab-new-inactive@2x.png) 14 16 2 16 fill / 7px 8px 1px 8px stretch !important;
  }
}

#main-window:-moz-window-inactive .tab-throbber,
#main-window:-moz-window-inactive .tab-icon-image {
  filter: url(chrome://mozapps/skin/extensions/extensions.svg#greyscale);
  opacity: 0.5;
}

#window-controls > toolbarbutton:-moz-window-inactive {
  border-color: transparent !important;
}

:-moz-any(#minimize-button, #restore-button, #close-button):-moz-window-inactive > .toolbarbutton-icon {
  opacity: .38 !important;
}

/* ::::: browser/searchbar.css ::::: */

.searchbar-engine-image:-moz-window-inactive {
  filter: url(chrome://mozapps/skin/extensions/extensions.svg#greyscale);
  opacity: 0.5;
}

/* ::::: browser/extensions/flagfox.css ::::: */

/* Flagfox
 * id: {1018e4d6-728f-4b20-ad56-37578a4de76b}
 * URL: https://addons.mozilla.org/firefox/addon/flagfox/ */

/* flags are intrinsically colorful, so a simple opacity
 * change when window loses focus should be enough */

#flagfox-button > #flagfox-icon:-moz-window-inactive {
  filter: url(chrome://mozapps/skin/extensions/extensions.svg#greyscale);
  opacity: 0.5;
}

/* ::::: browser/extensions/tree-style-tab.css ::::: */

/* Tree Style Tab
 * id: treestyletab@piro.sakura.ne.jp
 * URL: https://addons.mozilla.org/firefox/addon/tree-style-tab/ */

#main-window:-moz-window-inactive #TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabbrowser-tab > .tab-stack {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

#main-window:-moz-window-inactive #TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabbrowser-tab[selected="true"] {
  background: #e2e2e2 !important;
}
#main-window:-moz-window-inactive #TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabbrowser-tab[selected="true"] > .tab-stack {
  color: #2e3436 !important;
}

}
