/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url("chrome://browser/content/browser.xul") {

#toolbar-menubar {
  -moz-box-ordinal-group: 5;
}

#nav-bar {
  -moz-box-ordinal-group: 20;
}

#TabsToolbar[tabsontop="false"] {
  -moz-box-ordinal-group: 100;
}

#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#nav-bar):not(#TabsToolbar) {
  -moz-box-ordinal-group: 50;
}

}
