/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  -moz-appearance: none;
  font-size: 75%;
  background-color: transparent;
}

/* SCROLLBOX */
#newtab-scrollbox:not([page-disabled]) {
  background-color: rgb(229,229,229);
  background-image: url(chrome://browser/skin/devtools/noise.png),
                    linear-gradient(to bottom, rgba(255,255,255,.3), rgba(255,255,255,.2));
  background-attachment: fixed;
  color: rgb(0,0,0);
}

#newtab-scrollbox:not([page-disabled]) #newtab-margin-bottom {
  background: inherit;
}

/* UNDO */
#newtab-undo-container {
  padding: 4px 3px;
  border: 1px solid;
  border-color: rgba(8,22,37,.12) rgba(8,22,37,.14) rgba(8,22,37,.16);
  border-radius: 3px;
  background-color: rgba(255,255,255,.4);
  color: #525e69;
}

#newtab-undo-label {
  margin-top: 0;
  margin-bottom: 0;
}

.newtab-undo-button {
  -moz-appearance: none;
  color: #3b6aa7;
  cursor: pointer;
  padding: 0;
  margin: 0 4px;
  border: 0;
  background: transparent;
  text-decoration: none;
  min-width: 0;
}

.newtab-undo-button:hover {
  text-decoration: underline;
}

.newtab-undo-button:-moz-focusring {
  outline: 1px dotted;
}

#newtab-undo-close-button {
  -moz-appearance: none;
  background: none;
  padding: 0;
  border: none;
  list-style-image: url(chrome://symbolic-icons/skin/close.svg);
  height: 16px;
  width: 16px;
}

#newtab-undo-close-button > .toolbarbutton-icon {
  margin: -4px;
  opacity: .4;
}

#newtab-undo-close-button:hover > .toolbarbutton-icon {
  opacity: 1;
}

%if APP_VERSION == 32
#newtab-undo-close-button > .toolbarbutton-text {
  display: none;
}
%endif

#newtab-undo-close-button:-moz-focusring {
  outline: 1px dotted;
}

%if APP_VERSION == 32
/* TOGGLE */
#newtab-toggle {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background: -216px 0 transparent url(chrome://browser/skin/newtab/controls.png);
}

#newtab-toggle[page-disabled] {
  background-position: -232px 0;
}
%else
/* CUSTOMIZE */
#newtab-customize-button,
.newtab-customize {
  background-color: transparent;
  background-image: -moz-image-rect(url(chrome://browser/skin/newtab/controls.svg), 0, 32, 32, 0);
  background-size: 28px;
  border: none;
  height: 28px;
  width: 28px;
}

#newtab-customize-button:-moz-any(:hover, :active, [active]) {
  background-image: -moz-image-rect(url(chrome://browser/skin/newtab/controls.svg), 0, 64, 32, 32);
}
%endif

/* CELLS */
.newtab-cell {
  height: 162px;
  margin: 10px;
  background-color: rgba(255,255,255,.2);
  border: 1px solid;
  border-color: rgba(8,22,37,.12) rgba(8,22,37,.14) rgba(8,22,37,.16);
  border-radius: 3px;
  transition: border-color 100ms ease-out;
}

.newtab-cell:empty {
  border: 1px dashed;
  border-radius: 3px;
  border-color: rgba(8,22,37,.15) rgba(8,22,37,.17) rgba(8,22,37,.19);
}

.newtab-cell:hover:not(:empty):not([dragged]):not([ignorehover]) {
  border-color: rgba(8,22,37,.25) rgba(8,22,37,.27) rgba(8,22,37,.3);
}

/* SITES */
.newtab-site {
  text-decoration: none;
  transition-property: top, left, opacity, box-shadow, background-color;
  transition-duration: 0.5s;

  /* Consistency FTW, Comment out to go back to the madness */
  background:  url(chrome://symbolic-icons/skin/newtab-placeholder.svg) no-repeat;
  background-size: 96px;
  background-position: 50% calc(50% - (24px / 2)); /* Half height, compensate for text title */
}

.newtab-cell:not([ignorehover]) > .newtab-site:hover,
.newtab-site[dragged] {
  box-shadow: 0 0 10px rgba(8,22,37,.3);
}

.newtab-site[dragged] {
  transition-property: box-shadow, background-color;
  background-color: rgb(242,242,242);
}

%if APP_VERSION != 32
/* LINKS */
.newtab-link {
  border-radius: 10px;
}
%endif

/* THUMBNAILS */
.newtab-thumbnail {
  background-origin: padding-box;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  border-radius: 3px;
%if APP_VERSION != 32
  transition: opacity 100ms ease-out;
%endif
  opacity: 1;
}

%if APP_VERSION != 32
.newtab-thumbnail.enhanced-content:hover {
  opacity: 0;
}
%endif

.newtab-site[type=affiliate] .newtab-thumbnail,
%if APP_VERSION != 32
.newtab-site[type=enhanced] .newtab-thumbnail,
%endif
.newtab-site[type=organic] .newtab-thumbnail,
.newtab-site[type=sponsored] .newtab-thumbnail {
  background-position: 50% calc(50% - (24px / 2)); /* Half height, compensate for text title */
  background-size: auto;
}

%if APP_VERSION != 32
/* Use a pseudo-element to overlay a gradient on the thumbnail */
/*
.newtab-site[type=history]:not(:hover) .newtab-thumbnail:first-child::after {
  background-image: linear-gradient(0deg, rgba(251, 251, 251, 0.8), rgba(251, 251, 251, 0) 33%);
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}
*/
%endif

/* TITLES */
.newtab-title {
  bottom: 0;
  padding: 0 8px;
  background-color: rgb(229,229,229);
  background-image: url(chrome://browser/skin/devtools/noise.png),
                     linear-gradient(to bottom, rgba(255,255,255,.3), rgba(255,255,255,.2));
  background-attachment: fixed;
  color: rgba(0,0,0,0.55);
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  border-top: 1px solid;
  border-color: rgba(8,22,37,.12) rgba(8,22,37,.14) rgba(8,22,37,.16);
  font-size: 100%;
  line-height: 24px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  border-radius: 0 0 2px 2px;
  text-align: center;
}

%if APP_VERSION == 32
.newtab-site[type=sponsored] .newtab-title {
  -moz-padding-start: 24px;
  -moz-padding-end: 24px;
}
%endif

.newtab-cell:hover .newtab-title {
  background-image: none;
  background-color: rgba(0,0,0,0.8);
  color: rgba(255,255,255,0.8);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

/* CONTROLS */
.newtab-control {
  width: 16px;
  height: 16px;
  padding: 1px 2px 3px;
  border: none;
}

.newtab-control::-moz-focus-inner { 
  border: none;
}

.newtab-control-pin {
  background: url(chrome://symbolic-icons/skin/pin_white.svg) no-repeat center;
  background-color: rgba(0,0,0,0.25);
  border-radius: 50%;
}

.newtab-control-pin[pinned] {
  background-color: rgba(0,0,0,0.55);
  -moz-transform: rotate(30deg);
}

.newtab-control-pin[pinned]:hover {
  background-color: rgba(0,0,0,0.85);
}

.newtab-control-block {
  background: url(chrome://symbolic-icons/skin/close_white.svg) no-repeat center;
  background-color: rgba(0,0,0,0.25);
  border-radius: 50%;
}

.newtab-control-block:hover {
  background-color: rgba(0,0,0,0.85);
}

%if APP_VERSION == 32
.newtab-control-sponsored {
  background: transparent url(chrome://browser/skin/newtab/controls.png);
  background-position: -249px -1px;
  border: none;
  padding: 1px 2px 3px;
  /* Override chrome://browser/content/newtab/newTab.css */
  -moz-margin-end: 0 !important;
  bottom: 5px !important;
}

.newtab-control-sponsored:hover {
  background-position: -265px -1px;
}

.newtab-control-sponsored[panelShown] {
  background-position: -281px -1px;
}
%endif

.newtab-control-pin,
.newtab-control-block,
.newtab-title {
  transition-property: background-color, color, text-shadow;
  transition-duration: 0.4s;
}

%if APP_VERSION != 32
/*
#newtab-intro-panel {
  font-family: sans-serif;
}
*/
%endif

/* SEARCH */
#newtab-search-text,
#newtab-search-submit {
  color: #2e3436; /* see bug1038607 */
}
