/* ColorZilla
 * id: {6AC85730-7D0F-4de0-B3FA-21142DD85326}
 * URL: https://addons.mozilla.org/firefox/addon/colorzilla/ */

#wrapper-colorzilla-navbar-button,
#colorzilla-navbar-button {
     list-style-image: url("chrome://browser/skin/symbolic-icons/extensions/colorzilla.svg") !important;
}
