@import url("chrome://browser/skin/extensions/adblock-plus.css");
@import url("chrome://browser/skin/extensions/clearly.css");
@import url("chrome://browser/skin/extensions/feedly.css");
@import url("chrome://browser/skin/extensions/firebug.css");
@import url("chrome://browser/skin/extensions/foxtophone.css");
@import url("chrome://browser/skin/extensions/fxbutton.css");
@import url("chrome://browser/skin/extensions/ghostery.css");
@import url("chrome://browser/skin/extensions/lastpass-password-manager.css");
@import url("chrome://browser/skin/extensions/movable-firefox-button.css");
@import url("chrome://browser/skin/extensions/stylish.css");
@import url("chrome://browser/skin/extensions/xmarks-sync.css");
