/* A */
@import url("chrome://browser/skin/extensions/adblock-plus.css");
@import url("chrome://browser/skin/extensions/addthis.css");
@import url("chrome://browser/skin/extensions/all-in-one-sidebar.css");

/* C */
@import url("chrome://browser/skin/extensions/clearly.css");
@import url("chrome://browser/skin/extensions/colorzilla.css");

/* D */
@import url("chrome://browser/skin/extensions/dta.css");

/* F */
@import url("chrome://browser/skin/extensions/fbdc.css");
@import url("chrome://browser/skin/extensions/feedly.css");
@import url("chrome://browser/skin/extensions/firebug.css");
@import url("chrome://browser/skin/extensions/flashblock.css");
@import url("chrome://browser/skin/extensions/flashgot.css");
@import url("chrome://browser/skin/extensions/foxtophone.css");

/* G */
@import url("chrome://browser/skin/extensions/ghostery.css");
@import url("chrome://browser/skin/extensions/greasefire.css");
@import url("chrome://browser/skin/extensions/greasemonkey.css");
@import url("chrome://browser/skin/extensions/gtranslator.css");

/* H */
@import url("chrome://browser/skin/extensions/https-everywhere.css");
@import url("chrome://browser/skin/extensions/htitle.css");

/* K */
@import url("chrome://browser/skin/extensions/keefox.css");

/* L */
@import url("chrome://browser/skin/extensions/lastpass-password-manager.css");

/* P */
@import url("chrome://browser/skin/extensions/pinboard-extension.css");
@import url("chrome://browser/skin/extensions/pocket.css");

/* S */
@import url("chrome://browser/skin/extensions/stylish.css");

/* T */
@import url("chrome://browser/skin/extensions/tamperdataiconredux.css");
@import url("chrome://browser/skin/extensions/toomanytabs.css");
@import url("chrome://browser/skin/extensions/tree-style-tab.css");

/* U */
@import url("chrome://browser/skin/extensions/ubufox.css");

/* X */
@import url("chrome://browser/skin/extensions/xmarks-sync.css");
