/* FxButton
 * id: {c6448328-31f7-4b12-a2e0-5c39d0290307}
 * URL: https://addons.mozilla.org/firefox/addon/fxbutton/ */

#TabsToolbar #appmenu-toolbar-button.fxbutton:not(:first-child) > .toolbarbutton-icon,
toolbar:not(#TabsToolbar) #appmenu-toolbar-button.fxbutton > .toolbarbutton-icon {
  list-style-image: url(chrome://browser/skin/symbolic-icons/emblem-system.svg) !important;
}

#navigator-toolbox[iconsize=large] > #nav-bar > #appmenu-toolbar-button.fxbutton {
  margin: 0px 3px;
  min-height: 28px;
  min-width: 26px;
  padding: 0px 3px;
}
#navigator-toolbox[iconsize=small] > #nav-bar > #appmenu-toolbar-button.fxbutton {
  margin: 0px 2px;
  min-height: 26px;
  padding: 0px 3px;
}
#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] > #appmenu-toolbar-button.fxbutton {
  min-width: 32px;
}
