/* Ghostery
 * id: firefox@ghostery.com
 * URL: https://addons.mozilla.org/firefox/addon/ghostery/ */

#nav-bar[reliefbuttons="true"][iconsize=large] #ghostery-button {
  min-width: 32px !important;
}

#ghostery-button[image*="Icon-16"] > .toolbarbutton-icon {
  background: url(chrome://browser/skin/symbolic-icons/extensions/ghostery.svg) no-repeat center !important;
  width: 16px !important;
  height: 16px !important;
  -moz-padding-start: 16px !important;
  overflow: hidden !important;
}

#ghostery-button[image*="Icon-16-off"] > .toolbarbutton-icon {
  background: url(chrome://browser/skin/symbolic-icons/extensions/ghostery-grayscale.svg) no-repeat center !important;
  opacity: 0.5;
  width: 16px !important;
  height: 16px !important;
  -moz-padding-start: 16px !important;
  overflow: hidden !important;
}

#ghostery-button-badge {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  color: #242b33 !important;
  text-shadow: 0px 0px 1px #fff !important;
}
