/* Greasefire
 * id: {ec8030f7-c20a-464f-9b0e-13a3a9e97384}
 * URL: https://addons.mozilla.org/firefox/addon/flagfox/ */

.tbb-scripts-available .toolbarbutton-icon {
  background-image: url(chrome://browser/skin/symbolic-icons/extensions/greasefire.svg) !important;
}

