/* HTitle
 * id: {c6448328-31f7-4b12-a2e0-5c39d0290307
 * URL: https://addons.mozilla.org/firefox/addon/htitle/ */

/* Icons */

#main-window[sizemode="normal"] #window-controls[htitle="true"] > #restore-button {
  list-style-image: url(chrome://symbolic-icons/skin/window-maximize.svg);
}

#main-window[sizemode="maximized"] #window-controls[htitle="true"] > #restore-button {
  list-style-image: url(chrome://symbolic-icons/skin/window-restore.svg);
}

/* Show/hide window controls */

#window-controls[htitle="true"] > #restore-button {
  display: none !important;
}

#main-window[sizemode="maximized"] #window-controls[htitle="true"] > #close-button,
#main-window[sizemode="fullscreen"] #window-controls[htitle="true"] > #restore-button {
  display: -moz-box !important;
}

#main-window:not([sizemode="fullscreen"]) #window-controls[htitle="true"][htitle-button-layout*="minimize"] > #minimize-button {
  display: -moz-box !important;
}

#window-controls[htitle="true"][htitle-button-layout*="maximize"] > #restore-button {
  display: -moz-box !important;
}

/* */

#main-window[sizemode="fullscreen"] #navigator-toolbox:not([tabsontop="true"]) #window-controls[htitle="true"] {
  display: none !important;
}
