/* HTitle
 * id: {c6448328-31f7-4b12-a2e0-5c39d0290307
 * URL: https://addons.mozilla.org/firefox/addon/htitle/ */

#htitle-close-button {
  list-style-image: url(chrome://browser/skin/symbolic-icons/close.svg) !important;
}

#toolbar-menubar[autohide="true"] ~ #nav-bar[tabsontop="false"]:not([customizing]) #htitle-close-button:last-of-type,
#toolbar-menubar[autohide="true"] ~ #TabsToolbar[tabsontop="true"]:not([customizing]) #htitle-close-button:last-of-type {
  margin-top: -5px !important;
  margin-bottom: -5px !important;
  -moz-margin-end: -3px !important;
  border-radius: 0;
  border-color: transparent !important;
  -moz-border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAPCAYAAAAlH6X5AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAeSURBVAiZY1i+evl/JgYGBgZyif8M/1cwMTExTQQA76IGUhW20HIAAAAASUVORK5CYII=") 0 0 0 1 fill / 0px 0px 0px 1px stretch !important;
  min-width: 40px;
}
#toolbar-menubar[autohide="true"] ~ #TabsToolbar[tabsontop="true"]:not([customizing]) #htitle-close-button:last-of-type {
  margin-top: -3px !important;
  margin-bottom: -3px !important;
  -moz-margin-start: 3px !important;
  min-width: 38px;
}

#toolbar-menubar[autohide="true"] ~ #nav-bar[tabsontop="false"]:not([customizing]) #htitle-close-button:last-of-type > .toolbarbutton-icon,
#toolbar-menubar[autohide="true"] ~ #TabsToolbar[tabsontop="true"]:not([customizing]) #htitle-close-button:last-of-type > .toolbarbutton-icon {
  opacity: 0.4;
}

#toolbar-menubar[autohide="true"] ~ #nav-bar[tabsontop="false"]:not([customizing]) #htitle-close-button:last-of-type:hover,
#toolbar-menubar[autohide="true"] ~ #TabsToolbar[tabsontop="true"]:not([customizing]) #htitle-close-button:last-of-type:hover {
  background: transparent !important;
  box-shadow: none !important;
}
#toolbar-menubar[autohide="true"] ~ #nav-bar[tabsontop="false"]:not([customizing]) #htitle-close-button:last-of-type:hover > .toolbarbutton-icon,
#toolbar-menubar[autohide="true"] ~ #TabsToolbar[tabsontop="true"]:not([customizing]) #htitle-close-button:last-of-type:hover > .toolbarbutton-icon {
  opacity: 1;
}

#toolbar-menubar[autohide="true"] ~ #nav-bar[tabsontop="false"]:not([customizing]) #htitle-close-button:last-of-type:hover:active,
#toolbar-menubar[autohide="true"] ~ #TabsToolbar[tabsontop="true"]:not([customizing]) #htitle-close-button:last-of-type:hover:active {
  background: radial-gradient(rgba(255,255,255,0.8) 10%, rgba(255,255,255,0) 95%) !important;
  box-shadow: none !important;
}
