/* HTitle
 * id: {c6448328-31f7-4b12-a2e0-5c39d0290307
 * URL: https://addons.mozilla.org/firefox/addon/htitle/ */

#htitle-close-button {
  list-style-image: url(chrome://symbolic-icons/skin/close.svg) !important;
}

#window-controls[htitle="true"] > #restore-button {
  display: none !important;
}

#main-window[sizemode="maximized"] #window-controls[htitle="true"] > #close-button,
#main-window[sizemode="fullscreen"] #window-controls[htitle="true"] > #restore-button {
  display: -moz-box !important;
}
