/* HTTPS-Everywhere
 * id: https-everywhere@eff.org
 * URL: https://www.eff.org/https-everywhere */

#https-everywhere-button > .https-everywhere-button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/https-everywhere.svg) !important;
}

#https-everywhere-button[status="disabled"] > .https-everywhere-button > .toolbarbutton-icon {
  opacity: .5 !important;
}

#https-everywhere-button[cui-areatype="menu-panel"] > .https-everywhere-button > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #https-everywhere-button > .https-everywhere-button > .toolbarbutton-icon {
  opacity: .6 !important;
}

#https-everywhere-button[status="disabled"][cui-areatype="menu-panel"] > .https-everywhere-button > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #https-everywhere-button[status="disabled"] > .https-everywhere-button > .toolbarbutton-icon {
  opacity: .3 !important;
}

/* Font fixes */

#https-everywhere-button menuitem.active-item label {
  color: inherit !important;
  font-weight: normal !important;
}

#https-everywhere-button menuitem.moot-item label {
  color: inherit !important;
  opacity: 0.5 !important;
  font-weight: normal !important;
}

#https-everywhere-button menuitem.breaking-item label {
  color: inherit !important;
  font-weight: normal !important;
}

#https-everywhere-button menuitem.inactive-item label {
  color: inherit !important;
  font-weight: normal !important;
}
