/* Keefox
 * id: keefox@chris.tomlinson
 * URL: https://addons.mozilla.org/firefox/addon/keefox/ */

/* Globe */

#KeeFox_Menu-Button,
toolbar[iconsize="small"] #KeeFox_Menu-Button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/keeforms.svg) !important;
}

/* Lock */

#KeeFox_Logins-Button,
toolbar[iconsize="small"] #KeeFox_Logins-Button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/keelock.svg) !important;
}

/* Lock (Disabled) */

#KeeFox_Logins-Button[disabled="true"],
toolbar[iconsize="small"] #KeeFox_Logins-Button[disabled="true"] {
  opacity: .5;
}

/* Key */

toolbarbutton#KeeFox_Main-Button,
toolbar[iconsize="small"] toolbarbutton#KeeFox_Main-Button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/keekey.svg) !important;
}

toolbarbutton.highlight, toolbarbutton.login-found,
toolbar[iconsize="small"] toolbarbutton.highlight,
toolbar[iconsize="small"] toolbarbutton.login-found {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/keekey-orange.svg) !important;
}
