/* LastPass Password Manager
 * id: support@lastpass.com
 * URL: https://addons.mozilla.org/firefox/addon/lastpass-password-manager/ */

#lpt_lastpass-compact-btn,
#lpt_lastpass-compact-btn.iconsetff4 {
  list-style-image: url(chrome://browser/skin/symbolic-icons/extensions/lastpass-password-manager.svg) !important;
  opacity: .5;
}

#lpt_lastpass-compact-btn.lploggedin,
#lpt_lastpass-compact-btn.lploggediniconsetff4 {
  opacity: 1;
}
