/* Pocket
 * id: isreaditlater@ideashower.com
 * URL: https://addons.mozilla.org/en-US/firefox/addon/read-it-later/ */

/* Toolbar button */

#RIL_toolbar_button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/pocket.svg) !important;
}

#RIL_toolbar_button[cui-areatype="menu-panel"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #RIL_toolbar_button > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
  opacity: .6;
}

/* URL-bar icon */

#RIL_urlbar_add {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/pocket.svg) !important;
}

#RIL_urlbar_mark {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/pocket-added.svg) !important;
}

#RIL_urlbar_add {
  opacity: 0.35;
}

#RIL_urlbar_mark {
  opacity: 0.7;
}

#RIL_urlbar_add:hover,
#RIL_urlbar_mark:hover {
  opacity: 1;
}
