/* Stylish
 * id: {46551EC9-40F0-4e47-8E18-8E5CF550CFB8}
 * URL: https://addons.mozilla.org/firefox/addon/stylish/ */

#stylish-toolbar-button {
  list-style-image: url(chrome://browser/skin/symbolic-icons/extensions/stylish.svg) !important;
}
#stylish-toolbar-button:not([styles-applied~="site"]) > .toolbarbutton-icon {
  list-style-image: url(chrome://browser/skin/symbolic-icons/extensions/stylish-stopped.svg) !important;
}
