/* TooManyTabs
 * id: TooManyTabs@visibotech.com
 * URL: https://addons.mozilla.org/firefox/addon/toomanytabs-saves-your-memory/ */

#status-bar > #visibo-tmt-status-button {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: url(chrome://browser/skin/symbolic-icons/extensions/toomanytabs.svg) !important;
}

#status-bar > #visibo-tmt-status-button {
  -moz-appearance: none !important;
  min-width: 16px !important;
  max-width: 16px !important;
  min-height: 16px !important;
  -moz-padding-start: 16px !important;
  overflow: hidden !important;
}

#visibo-tmt-palette-button {
  list-style-image: url(chrome://browser/skin/symbolic-icons/extensions/toomanytabs-toggle-button.png) !important;
}

.toomanytabs-tgbutton {
  -moz-image-region: rect(0px 40px 16px 24px) !important;
}

.toomanytabs-tgbutton:hover {
  -moz-image-region: rect(24px 40px 40px 24px) !important;
}

/* The following buttons won't work with svg's */

#visibo-tmt-view-options {
  list-style-image: url(chrome://browser/skin/symbolic-icons/extensions/toomanytabs-gears.png) !important;
}

#visibo-tmt-view-options-v {
  list-style-image: url(chrome://browser/skin/symbolic-icons/extensions/toomanytabs-gears.png) !important;
}

#visibo-tmt-closed-tabs {
  list-style-image: url(chrome://browser/skin/symbolic-icons/extensions/toomanytabs-trash.png) !important;
}

#visibo-tmt-closed-tabs-v {
  list-style-image: url(chrome://browser/skin/symbolic-icons/extensions/toomanytabs-trash.png) !important;
}

#visibo-tmt-view-row {
  list-style-image: url(chrome://browser/skin/symbolic-icons/extensions/toomanytabs-down.png) !important;
}

#visibo-tmt-view-row-v {
  list-style-image: url(chrome://browser/skin/symbolic-icons/extensions/toomanytabs-down.png) !important;
}
