/* WOT
 * id: {a0d7ccb3-214d-498b-b4aa-0e8fda9a7bf7}
 * URL: https://addons.mozilla.org/firefox/addon/wot-safe-browsing-tool/ */

/* WOT works using a colorful semaphore system; 
 * gray symbolic icons would not make sense. 
 * The following css is meant to replace 24x24 icons 
 * with their 16x16 counterparts */

/* toolbar button */
#main-window #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/no_rep_calculated.png) !important;
}
#main-window[wot-status="2"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/new_r2.png) !important;
}
#main-window[wot-status="2-testimony"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/r2.png) !important;
}
#main-window[wot-status="2-testimony-update"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-status="2-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/message_r2.png) !important;
}
#main-window[wot-status="1"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/new_r1.png) !important;
}
#main-window[wot-status="1-testimony"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/r1.png) !important;
}
#main-window[wot-status="1-testimony-update"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-status="1-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/message_r1.png) !important;
}
#main-window[wot-status="disabled"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-status="disabled-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/software_not_in_use.png) !important;
}
#main-window[wot-status="error"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-status="error-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/problem_with_the_service.png) !important;
}
#main-window[wot-status="3"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/new_r3.png) !important;
}
#main-window[wot-status="3-testimony"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/r3.png) !important;
}
#main-window[wot-status="3-testimony-update"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-status="3-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/message_r3.png) !important;
}
#main-window[wot-status="5"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/new_r5.png) !important;
}
#main-window[wot-status="5-testimony"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/r5.png) !important;
}
#main-window[wot-status="5-testimony-update"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-status="5-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/message_r5.png) !important;
}
#main-window[wot-status="inprogress"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-status="inprogress-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/getting_info.png) !important;
}
#main-window[wot-status="nohost"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/no_rep_calculated.png) !important;
}
#main-window[wot-status="nohost-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/message_r0.png) !important;
}
#main-window[wot-status="notready"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/getting_info.png) !important;
}
#main-window[wot-status="notready-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/getting_info.png) !important;
}
#main-window[wot-status="offline"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-status="offline-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/offline.png) !important;
}
#main-window[wot-status="4"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/new_r4.png) !important;
}
#main-window[wot-status="4-testimony"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/r4.png) !important;
}
#main-window[wot-status="4-testimony-update"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-status="4-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/message_r4.png) !important;
}
#main-window[wot-status="0"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-status="0-testimony"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/r0.png) !important;
}
#main-window[wot-status="0-testimony-update"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-status="0-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/message_r0.png) !important;
}
#main-window[wot-status="excluded"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-status="excluded-testimony"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-status="excluded-testimony-update"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-status="excluded-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/rx.png) !important;
}

/* toolbar button / small / accessible */
#main-window[wot-mode="accessible"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/no_rep_calculated.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="2"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/new_r2.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="2-testimony"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/r2.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="2-testimony-update"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-mode="accessible"][wot-status="2-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/message_r2.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="1"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/new_r1.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="1-testimony"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/r1.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="1-testimony-update"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-mode="accessible"][wot-status="1-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/message_r1.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="disabled"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-mode="accessible"][wot-status="disabled-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/software_not_in_use.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="error"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-mode="accessible"][wot-status="error-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/problem_with_the_service.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="3"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/new_r3.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="3-testimony"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/r3.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="3-testimony-update"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-mode="accessible"][wot-status="3-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/message_r3.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="5"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/new_r5.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="5-testimony"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/r5.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="5-testimony-update"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-mode="accessible"][wot-status="5-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/message_r5.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="inprogress"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-mode="accessible"][wot-status="inprogress-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/getting_info.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="nohost"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/no_rep_calculated.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="nohost-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/message_r0.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="notready"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/getting_info.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="notready-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/getting_info.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="offline"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-mode="accessible"][wot-status="offline-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/offline.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="4"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/new_r4.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="4-testimony"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/r4.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="4-testimony-update"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-mode="accessible"][wot-status="4-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/message_r4.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="0"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-mode="accessible"][wot-status="0-testimony"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/r0.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="0-testimony-update"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-mode="accessible"][wot-status="0-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/accessible/16_16/message_r0.png) !important;
}
#main-window[wot-mode="accessible"][wot-status="excluded"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-mode="accessible"][wot-status="excluded-testimony"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-mode="accessible"][wot-status="excluded-testimony-update"] #nav-bar[iconsize="large"] #wot-button,
#main-window[wot-mode="accessible"][wot-status="excluded-update"] #nav-bar[iconsize="large"] #wot-button {
  list-style-image: url(chrome://wot/skin/fusion/16_16/rx.png) !important;
}
