/* Xmarks
 * id: foxmarks@kei.com
 * URL: https://addons.mozilla.org/firefox/addon/xmarks-sync/ */

/* Toolbar buttons */
/* TODO: Add icons for all buttons */

#foxmarks-toolbar-my > .toolbarbutton-icon {
  -moz-appearance: none !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: url(chrome://browser/skin/symbolic-icons/extensions/xmarks-sync-grayscale.svg) !important;
  min-width: 16px !important;
  max-width: 16px !important;
  min-height: 16px !important;
  -moz-padding-start: 16px !important;
  overflow: hidden !important;
}

/* On status bar */

#foxmarks-statusbarpanel > #foxmarks-statusimage {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: url(chrome://browser/skin/symbolic-icons/extensions/xmarks-sync.svg) !important;
}
#foxmarks-statusbarpanel > #foxmarks-statusimage[src*="ready"] {
  background-image: url(chrome://browser/skin/symbolic-icons/extensions/xmarks-sync-grayscale.svg) !important;
}
#foxmarks-statusbarpanel > #foxmarks-statusimage[src*="dirty"] {
  background-image: url(chrome://browser/skin/symbolic-icons/extensions/xmarks-sync-syncing.svg) !important;
}
#foxmarks-statusbarpanel > #foxmarks-statusimage[src*="wheel"] {
  background-image: url(chrome://browser/skin/symbolic-icons/extensions/xmarks-sync.svg) !important;
}
#foxmarks-statusbarpanel > #foxmarks-statusimage[src*="error"] {
  background-image: url(chrome://browser/skin/symbolic-icons/extensions/xmarks-sync-error.svg) !important;
}

#foxmarks-statusbarpanel > #foxmarks-statusimage {
   -moz-appearance: none !important;
  min-width: 16px !important;
  max-width: 16px !important;
  min-height: 16px !important;
  -moz-padding-start: 16px !important;
  overflow: hidden !important;
}
