/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

vbox[anonid=browserContainer][responsivemode] {
  background: #2a3643 url("chrome://browser/skin/devtools/responsive-background.png");
  box-shadow: 0 0 7px black inset;
}

stack[anonid=browserStack][responsivemode] {
  box-shadow: 0 0 7px black;
}
