%if 0
/* Adblock Plus
 * id: {d10d0bf8-f5b5-c8b4-a8b2-2b9879e08c5d}
 * URL: https://addons.mozilla.org/firefox/addon/adblock-plus/ */
%endif

/* Default */
#abp-toolbarbutton .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/adblock-plus.svg#default);
  -moz-image-region: auto;
}

#abp-toolbarbutton[cui-areatype="menu-panel"] .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/adblock-plus.svg#default-panel);
  -moz-image-region: auto;
}

#main-window[darkvariant] #abp-toolbarbutton[cui-areatype="toolbar"] .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/adblock-plus.svg#default-bright);
  -moz-image-region: auto;
}

#main-window[darkvariant="full"] #abp-toolbarbutton[cui-areatype="menu-panel"] .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/adblock-plus.svg#default-panel-bright);
  -moz-image-region: auto;
}

/* Stopped */
#abp-toolbarbutton[abpstate="disabled"] .toolbarbutton-icon,
#abp-toolbarbutton[abpstate="whitelisted"] .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/adblock-plus.svg#stopped);
  -moz-image-region: auto;
}

#abp-toolbarbutton[abpstate="disabled"][cui-areatype="menu-panel"] .toolbarbutton-icon,
#abp-toolbarbutton[abpstate="whitelisted"][cui-areatype="menu-panel"] .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/adblock-plus.svg#stopped-panel);
  -moz-image-region: auto;
}

#main-window[darkvariant] #abp-toolbarbutton:-moz-any([abpstate="disabled"], [abpstate="whitelisted"])[cui-areatype="toolbar"] .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/adblock-plus.svg#stopped-bright);
  -moz-image-region: auto;
}

#main-window[darkvariant="full"] #abp-toolbarbutton:-moz-any([abpstate="disabled"], [abpstate="whitelisted"])[cui-areatype="menu-panel"] .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/adblock-plus.svg#stopped-panel-bright);
  -moz-image-region: auto;
}

/* Palette */
toolbarpaletteitem[place="palette"] > #abp-toolbarbutton .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/adblock-plus.svg#default-panel) !important;
  -moz-image-region: auto;
}

