%if 0
/* Firebug
 * id: firebug@software.joehewitt.com
 * URL: https://addons.mozilla.org/firefox/addon/firebug/ */
%endif

#firebug-button {
  filter: none !important;
  list-style-image: none !important;
  -moz-image-region: rect(16px, 16px, 32px, 0) !important;
}

#firebug-button > .fb-toolbarbutton > .toolbarbutton-icon {
  background: url(chrome://symbolic-icons/skin/extensions/firebug.svg) no-repeat center !important;
  opacity: 0.5;
}

#firebug-button[firebugActive="true"] > .fb-toolbarbutton > .toolbarbutton-icon {
  opacity: 1;
}

#firebug-button[cui-areatype="menu-panel"] > .fb-toolbarbutton > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #firebug-button > .fb-toolbarbutton > .toolbarbutton-icon {
  background-size: 32px 32px !important;
  opacity: .3;
}

#firebug-button[firebugActive="true"][cui-areatype="menu-panel"] > .fb-toolbarbutton > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #firebug-button[firebugActive="true"] > .fb-toolbarbutton > .toolbarbutton-icon {
  opacity: .6;
}

#firebug-button .badge > .label {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #242b33 !important;
  text-shadow: none !important;
}
