/* Fox To Phone
 * id: sendtophone@martinezdelizarrondo.com
 * URL: https://addons.mozilla.org/firefox/addon/foxtophone/ */

#sendtophone-toolbar-button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/foxtophone.svg) !important;
  -moz-image-region: auto !important;
}

#sendtophone-toolbar-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #sendtophone-toolbar-button > .toolbarbutton-icon {
  opacity: .6;
}
