/* Ghostery
 * id: firefox@ghostery.com
 * URL: https://addons.mozilla.org/firefox/addon/ghostery/ */

#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] #ghostery-button {
  min-width: 32px !important;
}

#ghostery-button[image*="icon19"] > .toolbarbutton-icon {
  background: url(chrome://symbolic-icons/skin/extensions/ghostery.svg) no-repeat center !important;
  width: 16px !important;
  height: 16px !important;
  -moz-padding-start: 16px !important;
  overflow: hidden !important;
}

#ghostery-button[image*="icon19_off"] > .toolbarbutton-icon {
  background-image: url(chrome://symbolic-icons/skin/extensions/ghostery-grayscale.svg) !important;
  opacity: 0.5;
}

toolbaritem[cui-areatype="menu-panel"] #ghostery-button > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] #ghostery-button > .toolbarbutton-icon {
  background-size: 32px 32px !important;
  width: 32px !important;
  height: 32px !important;
  -moz-padding-start: 32px !important;
}

toolbaritem[cui-areatype="menu-panel"] #ghostery-button[image*="off"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] #ghostery-button[image*="off"] > .toolbarbutton-icon {
  opacity: .3;
}

#ghostery-button-badge {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  color: #242b33 !important;
  text-shadow: 0px 0px 1px #fff !important;
}
