%if 0
/* HTitle
 * id: {c6448328-31f7-4b12-a2e0-5c39d0290307
 * URL: https://addons.mozilla.org/firefox/addon/htitle/ */
%endif

/* Icons */

#main-window[sizemode="normal"] #window-controls[htitle="true"] > #restore-button {
  list-style-image: url(chrome://symbolic-icons/skin/window-maximize.svg);
}

#main-window[sizemode="maximized"] #window-controls[htitle="true"] > #restore-button {
  list-style-image: url(chrome://symbolic-icons/skin/window-restore.svg);
}

/* Show/hide window controls */

#window-controls[htitle="true"] > :-moz-any(#minimize-button, #restore-button) {
  display: none !important;
}

#window-controls[htitle="true"][htitlebuttonlayout*="minimize"] > #minimize-button, /* HTitle 3+ */
#window-controls[htitle="true"][htitle-button-layout*="minimize"] > #minimize-button,
#window-controls[htitle="true"][htitlebuttonlayout*="maximize"] > #restore-button,
#window-controls[htitle="true"][htitle-button-layout*="maximize"] > #restore-button,
#window-controls[htitle="true"] > #close-button {
  display: -moz-box !important;
}

#main-window[sizemode="fullscreen"] #window-controls[htitle="true"],
#main-window[sizemode="fullscreen"] #window-controls[htitle="true"] > #restore-button {
  display: -moz-box !important;
}

#main-window[sizemode="fullscreen"] #window-controls[htitle="true"] > :-moz-any(#minimize-button, #close-button) {
  display: none !important;
}

/* Hide theme's window controls */

#main-window[htitlemode] .window-controls {
  display: none !important;
}

/* Remove "toolbar-drag" binding */

#main-window[htitlemode]:not([customizing]) #TabsToolbar:not([tabsontop="true"]) {
  -moz-binding: url(chrome://browser/content/customizableui/toolbar.xml#toolbar) !important;
}
