%if 0
/* LastPass Password Manager
 * id: support@lastpass.com
 * URL: https://addons.mozilla.org/firefox/addon/lastpass-password-manager/ */
%endif

#lpt_lastpass-compact-btn {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/lastpass-password-manager.svg) !important;
}

#lpt_lastpass-compact-btn > .toolbarbutton-icon {
  opacity: .5;
}

#lpt_lastpass-compact-btn:-moz-any(.lploggedin, .lploggediniconsetff4) > .toolbarbutton-icon {
  opacity: 1;
}

#lpt_lastpass-compact-btn[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #lpt_lastpass-compact-btn > .toolbarbutton-icon {
  opacity: .3;
}

#lpt_lastpass-compact-btn:-moz-any(.lploggedin, .lploggediniconsetff4)[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #lpt_lastpass-compact-btn:-moz-any(.lploggedin, .lploggediniconsetff4) > .toolbarbutton-icon {
  opacity: .6;
}
