%if 0
/* Pushbullet
 * id: jid1-BYcQOfYfmBMd9A@jetpack
 * URL: https://addons.mozilla.org/firefox/addon/pushbullet/ */
%endif

%include ../variables.inc.css

%define pushbulletButton #toggle-button--jid1-bycqofyfmbmd9ajetpack-pushbullet-widget

/* remove original icon */
@pushbulletButton@[cui-areatype="toolbar"] .toolbarbutton-icon {
  display: none;
}

/* invisible label, used only for background-image */
@pushbulletButton@[cui-areatype="toolbar"] .toolbarbutton-text {
  color: transparent;
  display: block;
  width: 1em;
  height: 1em;
  background: url(chrome://symbolic-icons/skin/extensions/pushbullet.svg) center no-repeat;
  text-shadow: none;
}

#main-window@darkTheme@ @pushbulletButton@[cui-areatype="toolbar"] .toolbarbutton-text {
  filter: url(chrome://browser/skin/symbolic-icons-colors.svg#white);
}
