%if 0
/* TooManyTabs
 * id: TooManyTabs@visibotech.com
 * URL: https://addons.mozilla.org/firefox/addon/toomanytabs-saves-your-memory/ */
%endif

#visibo-tmt-palette-button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/toomanytabs-toggle-button.png) !important;
}

.toomanytabs-tgbutton {
  -moz-image-region: rect(0px 40px 16px 24px) !important;
}

.toomanytabs-tgbutton:hover {
  -moz-image-region: rect(24px 40px 40px 24px) !important;
}

/* The following buttons won't work with svg's */

#visibo-tmt-view-options,
#visibo-tmt-view-options-v {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/toomanytabs-gears.png) !important;
}

#visibo-tmt-closed-tabs,
#visibo-tmt-closed-tabs-v {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/toomanytabs-trash.png) !important;
}

#visibo-tmt-view-row,
#visibo-tmt-view-row-v {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/toomanytabs-down.png) !important;
}
