%if 0
/* Tree Style Tab
 * id: treestyletab@piro.sakura.ne.jp
 * URL: https://addons.mozilla.org/firefox/addon/tree-style-tab/ */
%endif
%include ../variables.inc.css

%define tree #TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"]
%define treeDefault @tree@:not([treestyletab-style])
%define modernBlack [treestyletab-twisty-style="modern-black"]


/* ====== Sidebar ====== */

@treeDefault@ {
  background: #fafafa;
  border: none;
  box-shadow: none;
  padding: 0 !important;
}

#TabsToolbar.treestyletab-tabbar-toolbar[orient="horizontal"] {
  height: 30px !important;
}

#TabsToolbar.treestyletab-tabbar-toolbar[treestyletab-tabbar-position="bottom"] {
  position: relative !important;
}

@treeDefault@[darkvariant] {
  background: #454c4c;
}

@treeDefault@ .tabbrowser-arrowscrollbox {
  border: none;
  box-shadow: none;
}

@treeDefault@ .scrollbox-innerbox,
@treeDefault@ .tabs-newtab-button,
@treeDefault@ #new-tab-button {
  border: none !important;
  box-shadow: none;
  background: transparent;
}

/* ====== Button ====== */

@treeDefault@ .tabs-newtab-button,
@treeDefault@ #new-tab-button {
  border-top: 1px solid #e1e1e1 !important;
  background: transparent !important;
  height: 30px !important;
  max-width: calc(100% - 3px) !important;
  margin: 0 0 0 3px !important;
}

@treeDefault@[darkvariant] .tabs-newtab-button,
@treeDefault@[darkvariant] #new-tab-button {
  border-color: #3e4545 !important;
}

@treeDefault@[treestyletab-tabbar-position="right"] .tabs-newtab-button,
@treeDefault@[treestyletab-tabbar-position="right"] #new-tab-button {
  margin: 0 3px 0 3px !important;
}

@treeDefault@ #new-tab-button,
@treeDefault@ .tabs-newtab-button,
@treeDefault@ .tabbrowser-tab > .tab-stack {
  min-height: 26px;
  height: 26px;
  min-width: 26px;
  padding: 0;
}

@treeDefault@ #new-tab-button:hover,
@treeDefault@ .tabs-newtab-button:hover {
  background: transparent;
}

/* "Fix" for scrollbox going off screen, only works for 1 row of pinned tabs */
@treeDefault@ .tabbrowser-tabs {
  max-height: calc(100% - 64px) !important;
}
@treeDefault@ #alltabs-button {
  display: none;
}

/* ====== Splitter ====== */

.treestyletab-splitter[orient="horizontal"] {
  -moz-appearance: none !important;
  background: #fafafa;
  min-width: 4px;
  width: 4px;
  border-right: 1px solid;
  border-color: #a7aba7 !important;
}

tabbrowser[treestyletab-tabbar-position="right"] .treestyletab-splitter[orient="horizontal"] {
  border-right: none;
  border-left: 1px solid;
}

.treestyletab-splitter[orient="horizontal"]:hover {
  cursor: col-resize;
}
.treestyletab-splitter[orient="horizontal"] grippy {
  display: none !important;
}

#main-window@darkTheme@ .treestyletab-splitter {
  background: #454c4c;
  border-color: #1e2222 !important;
}

/* ====== Tab ====== */

@treeDefault@ .tabbrowser-tab,
@treeDefault@ .tabbrowser-tab > .tab-stack {
  border: none;
  box-shadow: none;
  background: transparent;
  color: #555555;
}

@treeDefault@[darkvariant] .tabbrowser-tab,
@treeDefault@[darkvariant] .tabbrowser-tab > .tab-stack {
  color: #eeeeec;
}

/* Outline --- on hover */
@treeDefault@ .tabbrowser-tab:hover,
@treeDefault@ .tabs-newtab-button:hover,
@treeDefault@ #new-tab-button:hover {
  outline: 1px dashed #cccccc;
  outline-offset: -3px;
}

@treeDefault@ .tabbrowser-tab[visuallyselected]:hover,
@treeDefault@[darkvariant] .tabbrowser-tab:hover,
@treeDefault@[darkvariant] .tabs-newtab-button:hover, 
@treeDefault@[darkvariant] #new-tab-button:hover {
  outline: 1px dashed rgba(255, 255, 255, 0.27);
}

@treeDefault@ .tabbrowser-tab {
  padding: 4px 0;
}

/* ====== Content ====== */

@tree@ .tab-spacer {
  /* disable centered labels */  
  display: none;
}

@treeDefault@ .tab-content .tab-text {
  margin: 0 4px;
}

/* Invert indentation (right aligned) */
@treeDefault@[treestyletab-tab-inverted] .tab-content .tab-text {
  text-align: right;
}

/* Invert content (icon on the right) */
@treeDefault@[treestyletab-tab-contents-inverted] .tab-content .tab-icon-image,
@treeDefault@[treestyletab-tab-contents-inverted] .tab-close-button {
  margin: 0 2px;
}

/* ====== Close Button ====== */

@treeDefault@[treestyletab-narrow-scrollbar] .tab-close-button {
  display: none;
}

@treeDefault@ .tabbrowser-tab:hover .tab-close-button,
@treeDefault@ .tabbrowser-tab[visuallyselected] .tab-close-button {
  display: block;
}

@treeDefault@ .tabbrowser-tab[pinned] .tab-close-button {
  display: none;
}

@treeDefault@ .tabbrowser-tab[visuallyselected] .tab-close-button {
  list-style-image: url(chrome://symbolic-icons/skin/close_white.svg) !important;
}

/* ====== Selected Tab ====== */

@tree@ .tabbrowser-tab:hover .tab-background-start,
@tree@ .tabbrowser-tab:hover .tab-background-middle,
@tree@ .tabbrowser-tab:hover .tab-background-end,
@tree@ .tabbrowser-tab[visuallyselected] .tab-background-start,
@tree@ .tabbrowser-tab[visuallyselected] .tab-background-middle,
@tree@ .tabbrowser-tab[visuallyselected] .tab-background-end {
  display: none;
}

@treeDefault@ .tabbrowser-tab[visuallyselected] {
  border-radius: 0;
  background: Highlight;
}

@treeDefault@[darkvariant] .tabbrowser-tab[visuallyselected] {
  background: #215d9c;
}

@treeDefault@ .tabbrowser-tab[visuallyselected] > .tab-stack {
  color: HighlightText;
}

/* ====== Pinned Tabs ====== */

@treeDefault@ .tabbrowser-tab[pinned] {
  padding-bottom: 30px;
  padding-right: 30px;
  min-width: 34px;
}

@treeDefault@ .tabbrowser-tab[pinned] .tab-stack {
  margin: 0 4px;
}

@treeDefault@ .tabbrowser-tab[pinned] .tab-content {
  margin: 0 4px !important;
}

@treeDefault@ .tabbrowser-tab[pinned] .tab-icon-image {
  width: 18px;
  height: 18px;
  margin: 0 4px !important;
}

/* ====== Expander Icon ====== */

@treeDefault@@modernBlack@ .treestyletab-twisty {
	list-style-image: url("chrome://symbolic-icons/skin/extensions/twisty-adwaita-default-l.png") !important;
  margin: 0 -1px 0 -4px !important;
}
@treeDefault@@modernBlack@[treestyletab-tab-contents-inverted] .treestyletab-twisty {
	list-style-image: url("chrome://symbolic-icons/skin/extensions/twisty-adwaita-default-r.png") !important;
}

/* Selected or Dark theme*/
@treeDefault@@modernBlack@ .tabbrowser-tab[visuallyselected] .treestyletab-twisty,
@treeDefault@@modernBlack@[darkvariant] .treestyletab-twisty {
  list-style-image: url("chrome://symbolic-icons/skin/extensions/twisty-adwaita-white-l.png") !important;
}
@treeDefault@@modernBlack@[treestyletab-tab-contents-inverted] .tabbrowser-tab[visuallyselected] .treestyletab-twisty,
@treeDefault@@modernBlack@[darkvariant][treestyletab-tab-contents-inverted] .treestyletab-twisty {
  list-style-image: url("chrome://symbolic-icons/skin/extensions/twisty-adwaita-white-r.png") !important;
}

/* ====== Tab Notification Bubble ====== */

@treeDefault@ .tab-icon-overlay {
  margin-top: -10px !important;
  -moz-margin-start: -16px !important;
  -moz-margin-end: 0 !important;
}
@treeDefault@[treestyletab-tab-contents-inverted] .tab-icon-overlay {
  -moz-margin-start: -8px !important;
  -moz-margin-end: -8px !important;
}

