%if 0
/* uBlock Origin
 * id: {uBlock0@raymondhill.net}
 * URL: https://addons.mozilla.org/en-US/firefox/addon/ublock-origin */
%endif

/* Default */
#ublock0-button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/ublock-origin.svg);
}

/* Stopped */
#ublock0-button.off {
    opacity: .6;
}

