/* Ubuntu Firefox Modifications
 * id: ubufox@ubuntu.com
 * URL: https://launchpad.net/ubufox/ */

#ubufox-restart-notification-icon {
  list-style-image: url(chrome://symbolic-icons/skin/reboot-notifier.svg) !important;
}
