%if 0
/* Xmarks
 * id: foxmarks@kei.com
 * URL: https://addons.mozilla.org/firefox/addon/xmarks-sync/ */
%endif

/* Toolbar buttons */
/* TODO: Add icons for all buttons */

#foxmarks-toolbar-my > .toolbarbutton-icon {
  background: url(chrome://symbolic-icons/skin/extensions/xmarks-sync-grayscale.svg) no-repeat center !important;
  width: 16px !important;
  height: 16px !important;
  -moz-padding-start: 16px !important;
  overflow: hidden !important;
}

#foxmarks-toolbar-my[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] #foxmarks-toolbar-my > .toolbarbutton-icon {
  background-size: 32px 32px !important;
  width: 32px !important;
  height: 32px !important;
  -moz-padding-start: 32px !important;
  opacity: .6;
}

/* On status bar */

#foxmarks-statusbarpanel > #foxmarks-statusimage {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: url(chrome://symbolic-icons/skin/extensions/xmarks-sync.svg) !important;
}
#foxmarks-statusbarpanel > #foxmarks-statusimage[src*="ready"] {
  background-image: url(chrome://symbolic-icons/skin/extensions/xmarks-sync-grayscale.svg) !important;
}
#foxmarks-statusbarpanel > #foxmarks-statusimage[src*="dirty"] {
  background-image: url(chrome://symbolic-icons/skin/extensions/xmarks-sync-syncing.svg) !important;
}
#foxmarks-statusbarpanel > #foxmarks-statusimage[src*="wheel"] {
  background-image: url(chrome://symbolic-icons/skin/extensions/xmarks-sync.svg) !important;
}
#foxmarks-statusbarpanel > #foxmarks-statusimage[src*="error"] {
  background-image: url(chrome://symbolic-icons/skin/extensions/xmarks-sync-error.svg) !important;
}

#foxmarks-statusbarpanel > #foxmarks-statusimage {
  -moz-appearance: none !important;
  min-width: 16px !important;
  max-width: 16px !important;
  min-height: 16px !important;
  -moz-padding-start: 16px !important;
  overflow: hidden !important;
}
