/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.devtools-theme-background {
  background-color: white;
}

.devtools-theme-comment {
  color: hsl(90,2%,46%);
}

.devtools-theme-keyword {
  color: hsl(276,44%,45%);
}

.devtools-theme-string {
  color: hsl(72,100%,27%);
}

.devtools-theme-tagname {
  color: hsl(208,81%,21%);
}

.devtools-theme-attrname {
  color: hsl(208,56%,40%);
}

.devtools-theme-attrvalue {
  color: hsl(24,85%,39%);
}
