/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  color: hsl(0,0%,50%);
}

.text {
  color: black;
}

.expander {
   position: absolute;
  -moz-appearance: treetwisty;
  padding: 11px 0;
}

.expander[expanded] {
  -moz-appearance: treetwistyopen;
}
