#appmenu-toolbar-button > dropmarker{
    display: none;
}
toolbar:not([mode="text"]) #appmenu-toolbar-button > .toolbarbutton-icon,

toolbar:not([mode="text"]) #appmenu-button > .button-box .button-icon {

      list-style-image: url("chrome://browser/skin/symbolic/gear.svg") !important;

}

#appmenu-toolbar-button > image{
    border-radius: 3px;
  border: 1px solid;
  border-color: rgba(0,0,0,.2);
  border-left: 1px solid rgba(0,0,0,.15) ;
  box-shadow: 0 1px 0 rgba(255,255,255,1)inset ,
              0 1px rgba(255,255,255,1);
  background-image: -moz-linear-gradient(#F5F5F5, #DCDCDC);
  padding: 4px 7px ;
}