/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/*** Panel and outer controls ***/

#downloadsPanel > .panel-arrowcontainer > .panel-arrowcontent {
  padding: 0;
}

#downloadsListBox {
  width: 60ch;
  background: transparent;
  padding: 4px;
  color: inherit;
}

#downloadsPanel:not([hasdownloads]) > #downloadsListBox {
  display: none;
}

#downloadsHistory {
  background: inherit;
  color: -moz-nativehyperlinktext;
  cursor: pointer;
}

#downloadsPanel[hasdownloads] > #downloadsHistory {
  border-top: 1px solid ThreeDShadow;
  background-image: -moz-linear-gradient(hsla(0,0%,0%,.15), hsla(0,0%,0%,.08) 6px);
}

#downloadsHistory > .button-box {
  margin: 1em;
}

/*** List items ***/

richlistitem[type="download"] {
  height: 6em;
  margin: 0;
  border-top: 1px solid hsla(0,0%,100%,.2);
  border-bottom: 1px solid hsla(0,0%,0%,.15);
  background: transparent;
  padding: 0;
  color: inherit;
}

richlistitem[type="download"]:first-child {
  border-top: 1px solid transparent;
}

richlistitem[type="download"]:last-child {
  border-bottom: 1px solid transparent;
}

#downloadsListBox:-moz-focusring > richlistitem[type="download"][selected] {
  outline: 1px #999 dotted;
  outline-offset: -1px;
  -moz-outline-radius: 3px;
}

.downloadInfo {
  padding: 8px;
  -moz-padding-end: 0;
}

.downloadTypeIcon {
  -moz-margin-end: 8px;
  /* Prevent flickering when changing states. */
  min-height: 32px;
  min-width: 32px;
}

.blockedIcon {
  list-style-image: url("chrome://global/skin/icons/Error.png");
}

.downloadTarget {
  margin-bottom: 7px;
  cursor: inherit;
}

.downloadDetails {
  margin-top: 1px;
  opacity: 0.6;
  font-size: 90%;
  cursor: inherit;
}

.downloadButton {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  margin: 6px;
  border: none;
  background: transparent;
  padding: 5px;
  list-style-image: url("chrome://browser/skin/downloads/buttons.png");
}

.downloadButton > .button-box {
  padding: 0;
}

/*** Highlighted list items ***/

richlistitem[type="download"][state="1"] > .downloadInfo {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -moz-padding-end: 8px;
}

richlistitem[type="download"][state="1"] > .downloadInfo:hover {
  border-radius: 3px;
  border-top: 1px solid hsla(0,0%,100%,.3);
  border-bottom: 1px solid hsla(0,0%,0%,.2);
  background-color: Highlight;
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,100%,0));
  color: HighlightText;
  cursor: pointer;
}

/*** Button icons ***/

.downloadButton.downloadCancel {
  -moz-image-region: rect(0px, 14px, 14px, 0px);
}
.downloadButton.downloadCancel:hover {
  -moz-image-region: rect(0px, 28px, 14px, 14px);
}
.downloadButton.downloadCancel:active {
  -moz-image-region: rect(0px, 42px, 14px, 28px);
}

.downloadButton.downloadShow {
  -moz-image-region: rect(14px, 14px, 28px, 0px);
}
.downloadButton.downloadShow:hover {
  -moz-image-region: rect(14px, 28px, 28px, 14px);
}
.downloadButton.downloadShow:active {
  -moz-image-region: rect(14px, 42px, 28px, 28px);
}

.downloadButton.downloadRetry {
  -moz-image-region: rect(28px, 14px, 42px, 0px);
}
.downloadButton.downloadRetry:hover {
  -moz-image-region: rect(28px, 28px, 42px, 14px);
}
.downloadButton.downloadRetry:active {
  -moz-image-region: rect(28px, 42px, 42px, 28px);
}

/*** Status and progress indicator ***/

#downloads-indicator {
  width: 35px;
}

#downloads-indicator-anchor {
  min-width: 16px;
  min-height: 16px;
  /* Makes the outermost stack element positioned, so that its contents are
     rendered over the main browser window in the Z order.  This is required by
     the animated event notification. */
  position: relative;
  margin: -3px 0;
}

/*** Main indicator icon ***/

#downloads-indicator-icon > #downloads-indicator-anchor {
  background: -moz-image-rect(url(chrome://browser/skin/symbolic-icons/download.svg), 0, 16, 16, 0) center no-repeat;
}

#downloads-indicator[counter] > #downloads-indicator-anchor {
  background: -moz-image-rect(url(chrome://browser/skin/symbolic-icons/download-noarrow.svg), 0, 16, 16, 0) center no-repeat;
}

#downloads-indicator:not([counter]) > #downloads-indicator-anchor {
  background: -moz-image-rect(url(chrome://browser/skin/symbolic-icons/download-empty.svg), 0, 16, 16, 0) center no-repeat;
}

#downloads-indicator[attention] > #downloads-indicator-anchor {
  background: -moz-image-rect(url(chrome://browser/skin/symbolic-icons/download-glow.svg), 0, 16, 16, 0) center no-repeat;
}

#downloads-indicator:not([counter])[attention] > #downloads-indicator-anchor {
  background-image: -moz-image-rect(url(chrome://browser/skin/symbolic-icons/download-glow.svg), 0, 16, 16, 0) center no-repeat;
}


/*** Event notification ***/

#downloads-indicator-notification {
  opacity: 0;
  background: url("chrome://browser/skin/downloads/download-notification.png")
              center no-repeat;
  background-size: 16px;
}

@-moz-keyframes downloadsIndicatorNotificationRight {
  from { opacity: 0; -moz-transform: translate(-128px, 128px) scale(8); }
  20%  { opacity: .85; -moz-animation-timing-function: ease-out; }
  to   { opacity: 0; -moz-transform: translate(0) scale(1); }
}

@-moz-keyframes downloadsIndicatorNotificationLeft {
  from { opacity: 0; -moz-transform: translate(128px, 128px) scale(8); }
  20%  { opacity: .85; -moz-animation-timing-function: ease-out; }
  to   { opacity: 0; -moz-transform: translate(0) scale(1); }
}

#downloads-indicator[notification] > #downloads-indicator-anchor > #downloads-indicator-notification {
  -moz-animation-name: downloadsIndicatorNotificationRight;
  -moz-animation-duration: 1s;
}

#downloads-indicator[notification]:-moz-locale-dir(rtl) > #downloads-indicator-anchor > #downloads-indicator-notification {
  -moz-animation-name: downloadsIndicatorNotificationLeft;
}

/*** Progress bar and text ***/

#downloads-indicator-counter {
  height: 16px;
  margin: 0;
  color: hsl(0,0%,30%);
  text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  -moz-box-ordinal-group: 10;
}

#downloads-indicator-progress {
  background: transparent;
  width: 24px;
  height: 7px;
  min-width: 0;
  min-height: 0;
  border: 3px solid transparent;
  border-left-width: 7px;
  border-right-width: 7px;
  margin-top: 9px !important;
  -moz-box-ordinal-group: 1;
}

#downloads-indicator-progress > .progress-bar {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  background-color: #73d216;
}

#downloads-indicator-progress > .progress-remainder {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  background-color: transparent;
  -moz-border-start: none;
}

#downloads-indicator[paused] > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-progress > .progress-bar {
  background-color: #d25116;
}

#downloads-indicator[paused] > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-progress > .progress-remainder {
  background-color: #d25116;
}
