toolbar:not([mode="text"]) #appmenu-toolbar-button > .toolbarbutton-icon,
toolbar:not([mode="text"]) #appmenu-button > .button-box .button-icon {
     list-style-image: none !important;
     padding-left: 10px!important;
}

toolbar:not([mode="text"]) #appmenu-toolbar-button > .toolbarbutton-menu-dropmarker{
    display: none!important;
}

#appmenu-button .button-icon, #appmenu-button .button-text, #appmenu-button .button-menu-dropmarker {
  display: none !important;
}

#main-window #appmenu-button,
#appmenu-toolbar-button {
  display: inherit !important;
  margin: 0 6px 0 6px !important;
  background: url("chrome://browser/skin/gear.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  padding: 0px 7px!important;
  border-radius: 3px !important;
  border: 1px solid!important;
  border-color: rgba(0,0,0,.2)!important;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset !important;
}


#appmenu-button {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 27px !important;
  background: transparent !important;
}

#appmenu-button:hover:not(:active):not([open]) {
  background: url("chrome://global/skin/icons/browser_action_h.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

#appmenu-button:hover:active, #appmenu-button[open] {
  background: url("chrome://global/skin/icons/browser_action_p.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

@media not all and (-moz-windows-compositor) {
  #main-window[tabsontop="true"][sizemode="normal"] #appmenu-button {
    padding-top: 0px !important;
  }

  #main-window[tabsontop="true"][sizemode="normal"]
  #toolbar-menubar[inactive] ~ #TabsToolbar  {
    -moz-padding-start: 4px !important;
    -moz-padding-end: 4px !important;
    padding-top: 15px !important;
  }
}

@media not all and (-moz-windows-compositor) {
  #main-window[sizemode="normal"] > #titlebar > #titlebar-content > #appmenu-button-container {
    margin-top: -1px!important;
  }
  #appmenu-button > .button-box {
    padding: 2px 0!important;
  }
  #main-window[tabsontop="true"][sizemode="normal"]
  #toolbar-menubar[inactive] ~ #TabsToolbar  {
    -moz-padding-start: 4px !important;
    -moz-padding-end: 4px !important;
    padding-top: 6px !important;
  }
  #main-window[tabsintitlebar] #appmenu-button {
    margin-bottom: 7px !important;
  }
}

@media all and (-moz-windows-compositor) {
  #main-window[sizemode="normal"] > #titlebar > #titlebar-content > #appmenu-button-container {
    margin-top: 1px!important;
  }
  #main-window[tabsontop="true"][sizemode="normal"]
  #toolbar-menubar[inactive] ~ #TabsToolbar  {
    -moz-padding-start: 4px !important;
    -moz-padding-end: 4px !important;
    padding-top: 2px !important;
  }
}
