/* A */
/* Adblock Plus
 * id: {d10d0bf8-f5b5-c8b4-a8b2-2b9879e08c5d}
 * URL: https://addons.mozilla.org/firefox/addon/adblock-plus/ */

#abp-toolbarbutton {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/adblock-plus.svg) !important;
  -moz-image-region: auto !important;
}

#abp-toolbarbutton[abpstate="disabled"] .toolbarbutton-icon,
#abp-toolbarbutton[abpstate="whitelisted"] .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/adblock-plus-stopped.svg) !important;
  -moz-image-region: auto !important;
}

#abp-toolbarbutton[cui-areatype="menu-panel"] .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #abp-toolbarbutton .toolbarbutton-icon {
  opacity: .6;
}

#abp-toolbarbutton:-moz-any([abpstate="disabled"], [abpstate="whitelisted"])[cui-areatype="menu-panel"] .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #abp-toolbarbutton:-moz-any([abpstate="disabled"], [abpstate="whitelisted"]) .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/adblock-plus-stopped-menuPanel.svg) !important;
  opacity: 1;
}
/* AddThis
 * id: {3e0e7d2a-070f-4a47-b019-91fe5385ba79}
 * URL: https://addons.mozilla.org/firefox/addon/addthis/ */

/* FIXME: Need fix toolbar view. */

#at_toolbarBtn {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/addthis.svg) !important;
}
#at_toolbarBtn > .toolbarbutton-icon {
  -moz-margin-end: 0 !important;
}

#at_urlbarBtn {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/addthis.svg) !important;
  opacity: .35;
}
#at_urlbarBtn:hover {
  opacity: 1;
}
/* All-in-One Sidebar
 * id: {097d3191-e6fa-4728-9826-b533d755359d}
 * URL: https://addons.mozilla.org/firefox/addon/all-in-one-sidebar/ */

@-moz-document url("chrome://browser/content/browser.xul") {

#aios-sbhtoolbar > .tabs-closebutton {
  list-style-image: url(chrome://symbolic-icons/skin/close.svg);
}
#aios-sbhtoolbar > .tabs-closebutton > .toolbarbutton-icon {
  margin: 0;
}

#addons-button.aios-tbutton {
  list-style-image: url(chrome://symbolic-icons/skin/addon.svg) !important;
  -moz-image-region: auto !important;
}

#pageinfo-button.aios-tbutton {
  list-style-image: url(chrome://symbolic-icons/skin/information.svg) !important;
  -moz-image-region: auto !important;
}

#multipanel-button.aios-tbutton {
}

}

@-moz-document url("about:addons") {

#addons-page[aios-inSidebar] {
  background: none;
}

#addons-page[aios-inSidebar] #header {
  border-top: 1px solid #a7a7a7;
}

#addons-page[aios-inSidebar] .category-icon {
  display: -moz-box;
}

#addons-page[aios-inSidebar] .category {
  border: none;
}

}

/* C */
/* Clearly
 * id: readable@evernote.com
 * URL: https://addons.mozilla.org/firefox/addon/clearly/ */

#readable_by_evernote__button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/clearly.svg) !important;
}

#readable_by_evernote__button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #readable_by_evernote__button > .toolbarbutton-icon {
  opacity: .6;
}
/* ColorZilla
 * id: {6AC85730-7D0F-4de0-B3FA-21142DD85326}
 * URL: https://addons.mozilla.org/firefox/addon/colorzilla/ */

:-moz-any(#wrapper-colorzilla-navbar-button, #colorzilla-navbar-button) .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/colorzilla.svg) !important;
}

:-moz-any(#wrapper-colorzilla-navbar-button, #colorzilla-navbar-button)[cui-areatype="menu-panel"] .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > :-moz-any(#wrapper-colorzilla-navbar-button, #colorzilla-navbar-button) .toolbarbutton-icon {
  opacity: .6;
}

/* D */
/* DownThemAll!
 * id: {DDC359D1-844A-42a7-9AA1-88A850A938A8}
 * URL: https://addons.mozilla.org/firefox/addon/downthemall/ */

#dta-manager-button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/dta-manager.svg) !important;
  -moz-image-region: auto !important;
}

#dta-manager-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #dta-manager-button > .toolbarbutton-icon {
  opacity: .6;
}

/* F */
/* Facebook Disconnect
 * id: facebook@disconnect.me
 * URL: https://addons.mozilla.org/firefox/addon/fbdc/ */

#facebook-disconnect-icon:not([src]) {
  display: none;
}
/* Feedly
 * id: feedly@devhd
 * URL: https://addons.mozilla.org/firefox/addon/feedly/ */

#feedly-toolbar-button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/feedly.svg) !important;
}

#feedly-toolbar-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #feedly-toolbar-button > .toolbarbutton-icon {
  opacity: .6;
}
/* Firebug
 * id: firebug@software.joehewitt.com
 * URL: https://addons.mozilla.org/firefox/addon/firebug/ */

#firebug-button {
  filter: none !important;
  list-style-image: none !important;
  -moz-image-region: rect(16px, 16px, 32px, 0) !important;
}

#firebug-button > .fb-toolbarbutton > .toolbarbutton-icon {
  background: url(chrome://symbolic-icons/skin/extensions/firebug.svg) no-repeat center !important;
  opacity: 0.5;
}

#firebug-button[firebugActive="true"] > .fb-toolbarbutton > .toolbarbutton-icon {
  opacity: 1;
}

#firebug-button[cui-areatype="menu-panel"] > .fb-toolbarbutton > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #firebug-button > .fb-toolbarbutton > .toolbarbutton-icon {
  background-size: 32px 32px !important;
  opacity: .3;
}

#firebug-button[firebugActive="true"][cui-areatype="menu-panel"] > .fb-toolbarbutton > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #firebug-button[firebugActive="true"] > .fb-toolbarbutton > .toolbarbutton-icon {
  opacity: .6;
}

#firebug-button .badge > .label {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #242b33 !important;
  text-shadow: none !important;
}
/* Flagfox
 * id: {1018e4d6-728f-4b20-ad56-37578a4de76b}
 * URL: https://addons.mozilla.org/firefox/addon/flagfox/ */

#flagfox-button {
  padding: 0 !important;
}
/* Flashblock
 * id: {3d7eb24f-2740-49df-8937-200b1cc08f8a}
 * URL: https://addons.mozilla.org/firefox/addon/flashblock/ */

#flashblockToggle-button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/flashblock.svg) !important;
}

#flashblockToggle-button:-moz-any([state="disabled"], [disabled="true"]) .toolbarbutton-icon {
  opacity: .5;
}

#flashblockToggle-button[cui-areatype="menu-panel"] .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #flashblockToggle-button .toolbarbutton-icon {
  opacity: .6;
}

#flashblockToggle-button:-moz-any([state="disabled"], [disabled="true"])[cui-areatype="menu-panel"] .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #flashblockToggle-button:-moz-any([state="disabled"], [disabled="true"]) .toolbarbutton-icon {
  opacity: .3;
}
/* FlashGot
 * id: {19503e42-ca3c-4c27-b1e2-9cdb2170ee34}
 * URL: https://addons.mozilla.org/firefox/addon/flashgot/ */

/* Replace video icon */

#flashgot-media-tbb {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/flashgot-video.svg) !important;
}
/* Fox To Phone
 * id: sendtophone@martinezdelizarrondo.com
 * URL: https://addons.mozilla.org/firefox/addon/foxtophone/ */

#sendtophone-toolbar-button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/foxtophone.svg) !important;
  -moz-image-region: auto !important;
}

#sendtophone-toolbar-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #sendtophone-toolbar-button > .toolbarbutton-icon {
  opacity: .6;
}

/* G */
/* Ghostery
 * id: firefox@ghostery.com
 * URL: https://addons.mozilla.org/firefox/addon/ghostery/ */

#navigator-toolbox[iconsize=large] > #nav-bar[reliefbuttons="true"] #ghostery-button {
  min-width: 32px !important;
}

#ghostery-button[image*="icon19"] > .toolbarbutton-icon {
  background: url(chrome://symbolic-icons/skin/extensions/ghostery.svg) no-repeat center !important;
  width: 16px !important;
  height: 16px !important;
  -moz-padding-start: 16px !important;
  overflow: hidden !important;
}

#ghostery-button[image*="icon19_off"] > .toolbarbutton-icon {
  background-image: url(chrome://symbolic-icons/skin/extensions/ghostery-grayscale.svg) !important;
  opacity: 0.5;
}

toolbaritem[cui-areatype="menu-panel"] #ghostery-button > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] #ghostery-button > .toolbarbutton-icon {
  background-size: 32px 32px !important;
  width: 32px !important;
  height: 32px !important;
  -moz-padding-start: 32px !important;
}

toolbaritem[cui-areatype="menu-panel"] #ghostery-button[image*="off"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] #ghostery-button[image*="off"] > .toolbarbutton-icon {
  opacity: .3;
}

#ghostery-button-badge {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  color: #242b33 !important;
  text-shadow: 0px 0px 1px #fff !important;
}
/* Greasefire
 * id: {ec8030f7-c20a-464f-9b0e-13a3a9e97384}
 * URL: https://addons.mozilla.org/en-US/firefox/addon/greasefire/ */

.tbb-scripts-available > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
  background-image: url(chrome://symbolic-icons/skin/extensions/greasefire.svg) !important;
}

.tbb-scripts-available[cui-areatype="menu-panel"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > .tbb-scripts-available > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
  background-size: 32px 32px !important;
}
/* Greasemonkey
 * id: {e4a8a97b-f2ed-450b-b12d-ee082ba24781}
 * URL: https://addons.mozilla.org/firefox/addon/greasemonkey/ */

#greasemonkey-tbb {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/greasemonkey.svg) !important;
}

#greasemonkey-tbb[cui-areatype="menu-panel"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #greasemonkey-tbb > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
  opacity: .6;
}

#greasemonkey-tbb[disabled="true"][cui-areatype="menu-panel"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #greasemonkey-tbb[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
  opacity: .3;
}

/* H */
/* HTTPS-Everywhere
 * id: https-everywhere@eff.org
 * URL: https://www.eff.org/https-everywhere */

#https-everywhere-button > .https-everywhere-button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/https-everywhere.svg) !important;
}

#https-everywhere-button[status="disabled"] > .https-everywhere-button > .toolbarbutton-icon {
  opacity: .5 !important;
}

#https-everywhere-button[cui-areatype="menu-panel"] > .https-everywhere-button > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #https-everywhere-button > .https-everywhere-button > .toolbarbutton-icon {
  opacity: .6 !important;
}

#https-everywhere-button[status="disabled"][cui-areatype="menu-panel"] > .https-everywhere-button > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #https-everywhere-button[status="disabled"] > .https-everywhere-button > .toolbarbutton-icon {
  opacity: .3 !important;
}

/* Font fixes */

#https-everywhere-button menuitem.active-item label {
  color: inherit !important;
  font-weight: normal !important;
}

#https-everywhere-button menuitem.moot-item label {
  color: inherit !important;
  opacity: 0.5 !important;
  font-weight: normal !important;
}

#https-everywhere-button menuitem.breaking-item label {
  color: inherit !important;
  font-weight: normal !important;
}

#https-everywhere-button menuitem.inactive-item label {
  color: inherit !important;
  font-weight: normal !important;
}
/* HTitle
 * id: {c6448328-31f7-4b12-a2e0-5c39d0290307
 * URL: https://addons.mozilla.org/firefox/addon/htitle/ */

/* Icons */

#main-window[sizemode="normal"] #window-controls[htitle="true"] > #restore-button {
  list-style-image: url(chrome://symbolic-icons/skin/window-maximize.svg);
}

#main-window[sizemode="maximized"] #window-controls[htitle="true"] > #restore-button {
  list-style-image: url(chrome://symbolic-icons/skin/window-restore.svg);
}

/* Show/hide window controls */

#window-controls[htitle="true"] > :-moz-any(#minimize-button, #restore-button) {
  display: none !important;
}

#window-controls[htitle="true"][htitle-button-layout*="minimize"] > #minimize-button,
#window-controls[htitle="true"][htitle-button-layout*="maximize"] > #restore-button,
#window-controls[htitle="true"] > #close-button {
  display: -moz-box !important;
}

#main-window[sizemode="fullscreen"] #window-controls[htitle="true"],
#main-window[sizemode="fullscreen"] #window-controls[htitle="true"] > #restore-button {
  display: -moz-box !important;
}

#main-window[sizemode="fullscreen"] #window-controls[htitle="true"] > :-moz-any(#minimize-button, #close-button) {
  display: none !important;
}

/* Hide theme's window controls */

#main-window[htitlemode] .window-controls {
  display: none !important;
}

/* Remove "toolbar-drag" binding */

#main-window[htitlemode]:not([customizing]) #TabsToolbar:not([tabsontop="true"]) {
  -moz-binding: url(chrome://browser/content/customizableui/toolbar.xml#toolbar) !important;
}

/* K */
/* Keefox
 * id: keefox@chris.tomlinson
 * URL: https://addons.mozilla.org/firefox/addon/keefox/ */

/* Globe */

#KeeFox_Menu-Button,
toolbar[iconsize="small"] #KeeFox_Menu-Button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/keeforms.svg) !important;
}

/* Lock */

#KeeFox_Logins-Button,
toolbar[iconsize="small"] #KeeFox_Logins-Button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/keelock.svg) !important;
}

/* Lock (Disabled) */

#KeeFox_Logins-Button[disabled="true"],
toolbar[iconsize="small"] #KeeFox_Logins-Button[disabled="true"] {
  opacity: .5;
}

/* Key */

toolbarbutton#KeeFox_Main-Button,
toolbar[iconsize="small"] toolbarbutton#KeeFox_Main-Button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/keekey.svg) !important;
}

toolbarbutton.highlight, toolbarbutton.login-found,
toolbar[iconsize="small"] toolbarbutton.highlight,
toolbar[iconsize="small"] toolbarbutton.login-found {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/keekey-orange.svg) !important;
}

/* L */
/* LastPass Password Manager
 * id: support@lastpass.com
 * URL: https://addons.mozilla.org/firefox/addon/lastpass-password-manager/ */

#lpt_lastpass-compact-btn {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/lastpass-password-manager.svg) !important;
}

#lpt_lastpass-compact-btn > .toolbarbutton-icon {
  opacity: .5;
}

#lpt_lastpass-compact-btn:-moz-any(.lploggedin, .lploggediniconsetff4) > .toolbarbutton-icon {
  opacity: 1;
}

#lpt_lastpass-compact-btn[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #lpt_lastpass-compact-btn > .toolbarbutton-icon {
  opacity: .3;
}

#lpt_lastpass-compact-btn:-moz-any(.lploggedin, .lploggediniconsetff4)[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #lpt_lastpass-compact-btn:-moz-any(.lploggedin, .lploggediniconsetff4) > .toolbarbutton-icon {
  opacity: .6;
}

/* P */
/* Pinboard Extension
 * id: pinboardff@pinboard.in
 * URL: https://addons.mozilla.org/firefox/addon/pinboard-extension/ */

#pbff-pinmenu {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/pinboard-extension.svg) !important;
}
/* Pocket
 * id: isreaditlater@ideashower.com
 * URL: https://addons.mozilla.org/en-US/firefox/addon/read-it-later/ */

/* Toolbar button */

#RIL_toolbar_button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/pocket.svg) !important;
}

#RIL_toolbar_button[cui-areatype="menu-panel"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #RIL_toolbar_button > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
  opacity: .6;
}

/* URL-bar icon */

#RIL_urlbar_add {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/pocket.svg) !important;
}

#RIL_urlbar_mark {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/pocket-added.svg) !important;
}

#RIL_urlbar_add {
  opacity: 0.35;
}

#RIL_urlbar_mark {
  opacity: 0.7;
}

#RIL_urlbar_add:hover,
#RIL_urlbar_mark:hover {
  opacity: 1;
}

/* R */
/* RequestPolicy
 * id: requestpolicy@requestpolicy.com
 * URL: https://addons.mozilla.org/firefox/addon/requestpolicy/ */

#requestpolicyToolbarButton {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/requestpolicy.svg) !important;
}

toolbar[requestpolicyBlocked="true"] #requestpolicyToolbarButton,
[requestpolicyBlocked="true"] toolbar #requestpolicyToolbarButton {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/requestpolicy-blocked.svg) !important;
}

toolbar[requestpolicyPermissive="true"] #requestpolicyToolbarButton,
[requestpolicyPermissive="true"] toolbar #requestpolicyToolbarButton {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/requestpolicy.svg) !important;
}
toolbar[requestpolicyPermissive="true"] #requestpolicyToolbarButton .toolbarbutton-icon,
[requestpolicyPermissive="true"] toolbar #requestpolicyToolbarButton .toolbarbutton-icon {
  opacity: .5;
}

#requestpolicyToolbarButton[cui-areatype="menu-panel"] .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #requestpolicyToolbarButton .toolbarbutton-icon {
  opacity: .6;
}

/* S */
/* Stylish
 * id: {46551EC9-40F0-4e47-8E18-8E5CF550CFB8}
 * URL: https://addons.mozilla.org/firefox/addon/stylish/ */

#stylish-toolbar-button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/stylish.svg) !important;
}

#stylish-toolbar-button:not([styles-applied~="site"]) > .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/stylish-stopped.svg) !important;
}

#stylish-toolbar-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #stylish-toolbar-button > .toolbarbutton-icon {
  opacity: .6;
}

#stylish-toolbar-button:not([styles-applied~="site"])[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #stylish-toolbar-button:not([styles-applied~="site"]) > .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/stylish-stopped-menuPanel.svg) !important;
  opacity: 1;
}

/* T */
/* Tamperdataiconredux
 * id: tamperdataiconredux@frizzip.com
 * URL: https://addons.mozilla.org/firefox/addon/tamper-data-icon-redux/ */

#tdiconmenu-button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/tamperdataiconredux.svg) !important;
}

#tdiconmenu-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #tdiconmenu-button > .toolbarbutton-icon {
  opacity: .6;
}
/* TooManyTabs
 * id: TooManyTabs@visibotech.com
 * URL: https://addons.mozilla.org/firefox/addon/toomanytabs-saves-your-memory/ */

#visibo-tmt-palette-button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/toomanytabs-toggle-button.png) !important;
}

.toomanytabs-tgbutton {
  -moz-image-region: rect(0px 40px 16px 24px) !important;
}

.toomanytabs-tgbutton:hover {
  -moz-image-region: rect(24px 40px 40px 24px) !important;
}

/* The following buttons won't work with svg's */

#visibo-tmt-view-options,
#visibo-tmt-view-options-v {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/toomanytabs-gears.png) !important;
}

#visibo-tmt-closed-tabs,
#visibo-tmt-closed-tabs-v {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/toomanytabs-trash.png) !important;
}

#visibo-tmt-view-row,
#visibo-tmt-view-row-v {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/toomanytabs-down.png) !important;
}
/* Tree Style Tab
 * id: treestyletab@piro.sakura.ne.jp
 * URL: https://addons.mozilla.org/firefox/addon/tree-style-tab/ */

#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] {
  background: Window !important;
  border: none !important;
  box-shadow: none !important;
}

#TabsToolbar.treestyletab-tabbar-toolbar .tabbrowser-arrowscrollbox {
  border: none !important;
  box-shadow: none !important;
}

#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .scrollbox-innerbox,
#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabs-newtab-button {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabbrowser-tab,
#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabbrowser-tab > .tab-stack {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"].tabbrowser-tabs {
  border-color: #a7a7a7 !important;
  margin-top: -1px !important;
}

#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabs-newtab-button {
  border-top: 1px solid #a7a7a7 !important;
}

#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] #new-tab-button:hover,
#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabs-newtab-button:hover {
  background: transparent !important;
}

#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabbrowser-tab[selected="true"] {
  background: Highlight !important;
}
#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabbrowser-tab[selected="true"] > .tab-stack {
  color: HighlightText !important;
}

.treestyletab-splitter {
  -moz-appearance: none !important;
  background: transparent !important;
  border-right: 1px solid #a7aba7 !important;
  min-width: 4px !important;
  width: 4px !important;
}

.treestyletab-splitter:hover {
  background: transparent !important;
}

#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] #new-tab-button,
#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabs-newtab-button,
#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabbrowser-tab > .tab-stack {
  min-height: 26px !important;
  height: 26px !important;
  min-width: 26px !important;
  padding: 0 !important;
}

#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabbrowser-tab[pinned] > .tab-stack {
  padding: 5px !important;
}

#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabbrowser-tab {
  padding: 0 !important;
}
#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabbrowser-tab > .tab-stack {
  margin: 0 !important;
  -moz-padding-end: 3px !important;
}

#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tab-close-button {
  padding: 2px !important;
/*  visibility: hidden;*/
  display: none;
}

#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabbrowser-tab[selected="true"]:not(:-moz-window-inactive) .tab-close-button {
  list-style-image: url(chrome://symbolic-icons/skin/close_white.svg);
}

#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabbrowser-tab[pinned] .tab-close-button {
  display: none !important;
}

#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabbrowser-tab:hover .tab-close-button,
#TabsToolbar.treestyletab-tabbar-toolbar[orient="vertical"] .tabbrowser-tab[selected="true"] .tab-close-button {
/*  visibility: visible;*/
  display: block;
}

/* U */
/* Ubuntu Firefox Modifications
 * id: ubufox@ubuntu.com
 * URL: https://launchpad.net/ubufox/ */

#ubufox-restart-notification-icon {
  list-style-image: url(chrome://symbolic-icons/skin/reboot-notifier.svg) !important;
}

/* X */
/* Xmarks
 * id: foxmarks@kei.com
 * URL: https://addons.mozilla.org/firefox/addon/xmarks-sync/ */

/* Toolbar buttons */
/* TODO: Add icons for all buttons */

#foxmarks-toolbar-my > .toolbarbutton-icon {
  background: url(chrome://symbolic-icons/skin/extensions/xmarks-sync-grayscale.svg) no-repeat center !important;
  width: 16px !important;
  height: 16px !important;
  -moz-padding-start: 16px !important;
  overflow: hidden !important;
}

#foxmarks-toolbar-my[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] #foxmarks-toolbar-my > .toolbarbutton-icon {
  background-size: 32px 32px !important;
  width: 32px !important;
  height: 32px !important;
  -moz-padding-start: 32px !important;
  opacity: .6;
}

/* On status bar */

#foxmarks-statusbarpanel > #foxmarks-statusimage {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: url(chrome://symbolic-icons/skin/extensions/xmarks-sync.svg) !important;
}
#foxmarks-statusbarpanel > #foxmarks-statusimage[src*="ready"] {
  background-image: url(chrome://symbolic-icons/skin/extensions/xmarks-sync-grayscale.svg) !important;
}
#foxmarks-statusbarpanel > #foxmarks-statusimage[src*="dirty"] {
  background-image: url(chrome://symbolic-icons/skin/extensions/xmarks-sync-syncing.svg) !important;
}
#foxmarks-statusbarpanel > #foxmarks-statusimage[src*="wheel"] {
  background-image: url(chrome://symbolic-icons/skin/extensions/xmarks-sync.svg) !important;
}
#foxmarks-statusbarpanel > #foxmarks-statusimage[src*="error"] {
  background-image: url(chrome://symbolic-icons/skin/extensions/xmarks-sync-error.svg) !important;
}

#foxmarks-statusbarpanel > #foxmarks-statusimage {
  -moz-appearance: none !important;
  min-width: 16px !important;
  max-width: 16px !important;
  min-height: 16px !important;
  -moz-padding-start: 16px !important;
  overflow: hidden !important;
}
