/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

button[type="menu-button"] > button {
  -moz-appearance: none !important;
  border: none !important;
}

.button-menu-dropmarker,
.button-menubutton-dropmarker {
  -moz-appearance: none !important;
  -moz-image-region: auto;
  -moz-box-align: center;
  list-style-image: url(chrome://symbolic-icons/skin/dropmarker.svg);
}
