@namespace html url("http://www.w3.org/1999/xhtml");

@-moz-document url("about:newtab") {

#newtab-scrollbox:not([page-disabled]) {
  background-color: #fff !important;
  background-image: none !important;
  background-attachment: fixed;
}

}
