/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#warningScreen {
  font: 11pt cantarell;
  background-color: #f6f6f4;
  background-image: linear-gradient(to bottom, #eeeeec, #f6f6f4);
  background-size: 100% 5em;
  background-repeat: no-repeat;
  color: ButtonText;
}

#warningBox {
  /*
  background-color: transparent;
  color: -moz-FieldText;
  border: 0px solid ThreeDShadow;
  border-radius: 10px;
  padding: 3em;
  -moz-padding-start: 30px;
  margin-left: 1em;
  margin-right: 1em;
  */
}

#warningInnerBox {
  max-width: 50em;
}

#warningTitle {
  font-size: 160%;
  color: #babdb6;
  text-shadow: 0 1px 0 white;
  margin: 0 0 .3em 0;
}

#warningText {
  font-size: 100%;
  margin-left: 0;
}

#warningButton {
  margin-top: 1.9em;
}

#filterRow {
  margin-top: 5px;
}

#showWarningNextTime {
  margin-top: 0.6em;
  color: grey;
}

#configTree {
  margin-top: 5px;
  margin-bottom: 5px;
}

#configTreeBody::-moz-tree-cell-text(user) {
  font-weight: bold;
}

#configTreeBody::-moz-tree-cell-text(locked) {
  font-style: italic;
}
