/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.expander > button {
  background: url(chrome://browser/skin/symbolic-icons/go-down.svg) left center no-repeat !important;
}

.expander[collapsed] > button {
  background-image: url(chrome://browser/skin/symbolic-icons/go-next.svg) !important;
}

.expander[collapsed] > button:-moz-dir(rtl) {
  background-image: url(cchrome://browser/skin/symbolic-icons/go-previous.svg) !important;
}
