.tabbrowser-tab {
  padding: 1px 4px 2px 3px;
}

.tabbrowser-tab[selected="true"] {
  padding-bottom: 3px;
  padding-top: 0px;
}

.tabbrowser-tab[pinned] {
  padding-left: 9px;
  padding-right: 9px;
}
