/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.devtools-responsiveui-toolbar > menulist,
.devtools-responsiveui-toolbar > toolbarbutton {
  min-width: 22px;
}

.developer-toolbar-button {
  -moz-appearance: none;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0 10px;
  width: 32px;
}

/* UI Tour */

@keyframes uitour-wobble {
  from {
    transform: rotate(0deg) translateX(2px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(2px) rotate(-360deg);
  }
}

@keyframes uitour-zoom {
  from {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(0.9);
  }
}

@keyframes uitour-color {
  from {
    border-color: #5B9CD9;
  }
  50% {
    border-color: #FF0000;
  }
  to {
    border-color: #5B9CD9;
  }
}

html|div#UITourHighlight {
  display: none;
  position: absolute;
  min-height: 32px;
  min-width: 32px;
  display: none;
  border: 2px #5B9CD9 solid;
  box-shadow: 0 0 2px #5B9CD9, inset 0 0 1px #5B9CD9;
  border-radius: 20px;
  z-index: 10000000000;
}

html|div#UITourHighlight[active] {
  display: block;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

html|div#UITourHighlight[active="wobble"] {
  animation-name: uitour-wobble;
  animation-duration: 1s;
}

html|div#UITourHighlight[active="zoom"] {
  animation-name: uitour-zoom;
  animation-duration: 1s;
}
html|div#UITourHighlight[active="color"] {
  animation-name: uitour-color;
  animation-duration: 2s;
}

#UITourTooltip {
  max-width: 20em;
}

#UITourTooltipTitle {
  font-weight: bold;
  font-size: 130%;
  margin: 0 0 5px 0;
}

#UITourTooltipDescription {
  max-width: 20em;
}
