/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#view-port-container {
  border: 0;
}

#header {
  padding: 0 3px;
  background: linear-gradient(to bottom, #fff, #f3f3f3);
  border-bottom: 1px solid #a7a7a7;
}
