/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../browser/extensions/all-in-one-sidebar.inc.css

#addons-page {
  background: #eaeaea;
  padding: 0;
}

#nav-header {
  background: none;
}

/*** category selector ***/

#categories {
  margin: 0;
}

#categories > .category:first-of-type {
  margin-top: 24px;
}

.category[disabled] + .category {
  margin-top: 0;
}

.category:not([disabled]) {
  height: auto;
  min-height: 0;
}

@media (max-width: 800px) {
  .category-name {
    display: -moz-box;
  }
}

.category-badge {
  background-color: #7487e4;
  border-radius: 2px;
  color: #fff;
  font-size: 0.9em;
  padding: 2px 6px;
  margin: 0 1px;
  -moz-margin-end: 10px;
}

.category[selected] .category-badge {
  background-color: #eaeaea;
  color: #7487e4;
}

.category-icon {
  display: none;
}

/*** sorters ***/

.sorter[checkState="1"],
.sorter[checkState="2"] {
  box-shadow: 0 -4px 0 0 #7487e4 inset;
}

/*** list ***/

.addon[selected] {
  -moz-border-start-color: #7487e4;
}

/*** rating ***/

.meta-rating[showrating="average"] > .star {
  list-style-image: url(chrome://adwaita-mozapps/skin/extensions/rating-not-won.png);
}

.meta-rating > .star[on="true"],
.meta-rating[showrating="user"] > .star[hover] {
  list-style-image: url(chrome://adwaita-mozapps/skin/extensions/rating-won.png);
}
