/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#downloadManager {
  background-color: Window;
}

/* Download View */
#downloadView {
  -moz-appearance: none !important;
  background-color: #ffffff;
  margin: 0;
  -moz-box-ordinal-group: 2;
}

windowdragbox#search {
  border-bottom: 1px solid #a7aba7;
  -moz-box-ordinal-group: 1;
  -moz-binding: url(chrome://global/content/bindings/toolbar.xml#toolbar-drag);
}

/* Download View Items */
richlistitem[type="download"] {
  padding: 7px;
  -moz-padding-start: 4px;
  -moz-padding-end: 8px;
  min-height: 46px;
}

richlistitem[type="download"] .name {
  font-size: larger;
  margin-bottom: 5px;
}

richlistitem[type="download"] .dateTime {
  font-size: smaller;
}

richlistitem[type="download"] .status {
  font-size: smaller;
}

richlistitem[type="download"] progressmeter {
  margin-bottom: 5px;
}

.mini-button {
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
}

.mini-button > .button-box {
  padding: 0 !important;
}

menuitem:not([type]) {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

.cancel {
  list-style-image: url(chrome://browser/skin/symbolic-icons/playback-stop.svg);
}

#menuitem_cancel {
  list-style-image: url("moz-icon://stock/gtk-cancel?size=menu");
}

#menuitem_open {
  list-style-image: url("moz-icon://stock/gtk-open?size=menu");
}
#menuitem_open[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-open?size=menu&state=disabled");
}

.pause {
  list-style-image: url(chrome://browser/skin/symbolic-icons/playback-pause.svg);
}
.pause[disabled="true"] {
  opacity: 0.5;
}

#menuitem_pause {
  list-style-image: url("moz-icon://stock/gtk-media-pause?size=menu");
}
#menuitem_pause[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-media-pause?size=menu&state=disabled");
}

.resume {
  list-style-image: url(chrome://browser/skin/symbolic-icons/playback-start.svg);
}

#menuitem_resume {
  list-style-image: url("moz-icon://stock/gtk-media-play?size=menu");
}

.retry {
  list-style-image: url(chrome://browser/skin/symbolic-icons/redo.svg);
}
.retry:-moz-locale-dir(rtl) {
  list-style-image: url(chrome://browser/skin/symbolic-icons/redo-rtl.svg);
}

#menuitem_retry {
  list-style-image: url("moz-icon://stock/gtk-redo?size=menu");
}

#menuitem_removeFromList {
  list-style-image: url("moz-icon://stock/gtk-remove?size=menu");
}

#menuitem_copyLocation {
  list-style-image: url("moz-icon://stock/gtk-copy?size=menu");
}

.blockedIcon {
  list-style-image: url("moz-icon://stock/gtk-dialog-error?size=dialog");
  width: 32px;
  height: 32px;
}

/* prevent flickering when changing states */
.downloadTypeIcon {
  min-height: 32px;
  min-width: 32px;
  padding: 8px;
}

#clearListButton {
  /*
  list-style-image: url(moz-icon://stock/edit-clear-all-symbolic?size=menu);
  */
  list-style-image: url(chrome://browser/skin/symbolic-icons/edit-clear-all.svg);
  min-width: 30px;
}

#clearListButton .button-text {
  display: none;
}

#clearListButton .button-icon {
  display: block !important;
  -moz-margin-end: 0;
}
