/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


/* Toolbar */
#placesToolbar {
  border: none;
}

/* back button */

#back-button {
  list-style-image: url(chrome://symbolic-icons/skin/go-previous.svg);
}
#back-button:-moz-locale-dir(rtl) {
  list-style-image: url(chrome://symbolic-icons/skin/go-next.svg);
}
#back-button[disabled="true"] > .toolbarbutton-icon {
  opacity: .3;
}

/* forward button */

#forward-button {
  list-style-image: url(chrome://symbolic-icons/skin/go-next.svg);
}
#forward-button:-moz-locale-dir(rtl) {
  list-style-image: url(chrome://symbolic-icons/skin/go-previous.svg);
}
#forward-button[disabled="true"] > .toolbarbutton-icon {
  opacity: .3;
}

/* Menu */
#placesMenu {
  -moz-appearance: none;
  border: none;
}

#placesMenu > menu {
  -moz-padding-start: 4px;
  -moz-binding: url("chrome://browser/skin/places/organizer.xml#toolbarbutton-dropdown");
  -moz-appearance: toolbarbutton;
  color: -moz-DialogText;
}

#placesMenu > menu:hover:not(:active):not([open="true"]) {
  color: -moz-buttonhovertext;
}

#placesMenu > menu > .menubar-right {
  -moz-appearance: toolbarbutton-dropdown;
  width: 12px;
  height: 12px;
}

/* Root View */
#placesView {
  background-color: Window;
}

/* Left box */
#placesList {
  background: Window;
}

#placesList + splitter + #contentView {
  -moz-border-start: 1px solid ThreeDShadow;
}

/* Info box */
#detailsDeck {
  padding: 5px;
  border-top: 1px solid ThreeDShadow;
}

#infoBoxExpanderLabel {
  -moz-padding-start: 2px;
}

/**** menuitem stock icons ****/
#orgClose {
  list-style-image: url("moz-icon://stock/gtk-close?size=menu");
}

#fileImport {
  list-style-image: url("moz-icon://stock/gtk-revert-to-saved?size=menu");
}

#fileExport {
  list-style-image: url("moz-icon://stock/gtk-save-as?size=menu");
}

/**
 * Downloads pane
 */

#clearDownloadsButton > .toolbarbutton-icon {
  display: none;
}
