/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.requests-menu-empty-notice {
  background: url(background-noise-toolbar.png), hsl(208,11%,27%);
  padding: 12px;
  font-size: 110%;
  color: #fff;
}

.side-menu-widget-item:nth-child(even) {
  background: rgba(255,255,255,0.05);
}
