/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: menupopup ::::: */

menupopup,
panel {
  /*
  -moz-appearance: menupopup;
  */
  min-width: 1px;
  color: MenuText;
}

panel {
  -moz-appearance: menupopup;
}

menupopup {
  background-color: Menu;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.25);
}

/* ::::: arrow panel ::::: */

panel[type="arrow"] {
  transition: opacity 300ms;
  -moz-appearance: none;
}

.panel-arrowcontainer[panelopen] {
  transition-duration: 200ms, 150ms;
  transition-property: opacity, transform;
  transition-timing-function: ease-out;
}

.panel-arrowcontainer:not([panelopen]) {
  opacity: 0;
}

.panel-arrowcontainer:not([panelopen])[side="top"] {
  transform: translateY(-20px);
}

.panel-arrowcontainer:not([panelopen])[side="bottom"] {
  transform: translateY(20px);
}

.panel-arrowcontainer:not([panelopen])[side="left"] {
  transform: translateX(-20px);
}

.panel-arrowcontainer:not([panelopen])[side="right"] {
  transform: translateX(20px);
}

panel[type="arrow"][side="top"],
panel[type="arrow"][side="bottom"] {
  margin-left: -30px;
  margin-right: -30px;
}

panel[type="arrow"][side="left"],
panel[type="arrow"][side="right"] {
  margin-top: -30px;
  margin-bottom: -30px;
}

.panel-arrowcontent {
  padding: 10px;
  color: -moz-DialogText;
  background: -moz-Dialog;
  border: 1px solid ThreeDShadow;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5);
  margin: 5px 3px;
}

.panel-arrow[side="top"],
.panel-arrow[side="bottom"] {
  list-style-image: url("chrome://global/skin/icons/panelarrow-vertical.svg");
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.panel-arrow[side="top"] {
  margin-bottom: -6px;
}

.panel-arrow[side="bottom"] {
  transform: scaleY(-1);
  margin-top: -6px;
}

.panel-arrow[side="left"],
.panel-arrow[side="right"] {
  list-style-image: url("chrome://global/skin/icons/panelarrow-horizontal.svg");
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.panel-arrow[side="left"] {
  margin-right: -4px;
}

.panel-arrow[side="right"] {
  transform: scaleX(-1);
  margin-left: -4px;
}

/* ::::: tooltip ::::: */

tooltip {
  -moz-appearance: tooltip;
  margin-top: 21px;
  /* GTK hardcodes this to 4px */
  padding: 4px;
  max-width: 40em;
  color: InfoText;
  font: message-box;
}

tooltip[titletip="true"] {
 /* See bug 32157 comment 128
  * margin: -2px 0px 0px -3px;
  */
  max-width: none;
}

/* rules for popups associated with menulists */

menulist > menupopup,
.menulist-menupopup {
  padding: 0px;
  min-width: 0px;
}

