/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

treechildren::-moz-tree-image(title) {
  list-style-image: url(chrome://mozapps/skin/places/defaultFavicon.png);
}

treechildren::-moz-tree-image(title, container) {
  list-style-image: url(chrome://global/skin/dirListing/folder.png);
}

treechildren::-moz-tree-image(title, query, hostContainer) {
  list-style-image: url(chrome://global/skin/dirListing/folder.png);
}

treechildren::-moz-tree-image(title, query, hostContainer, open) {
  list-style-image: url(chrome://global/skin/dirListing/folder.png);
}

treechildren::-moz-tree-image(title, query, folder) {
  list-style-image: url(chrome://global/skin/dirListing/folder.png);
}
