/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

findbar {
  /*
  background-color: Window;
  */
  background: -moz-linear-gradient(to bottom, #d4d4d4, #ececec);
  /*
  border-top: 1px solid #a7aba7;
  */
  border-top: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDHighlight;
  padding-bottom: 1px;
  min-width: 10px;
  -moz-appearance: none !important;
}

findbar:-moz-window-inactive {
  background: #e0e0e0;
}

findbar > * > * {
  margin-left: 5px;
  margin-right: 5px;
}

.findbar-find-next,
.findbar-find-previous {
  -moz-margin-start: -1px;
  padding-left: 7px;
  padding-right: 7px;
  width: 30px;
}

.findbar-find-next .toolbarbutton-text,
.findbar-find-previous .toolbarbutton-text {
/*  display: none;*/
  max-width: 0; /* FIXME: Hack for support font scaling factor */
}

.findbar-find-next .toolbarbutton-icon,
.findbar-find-previous .toolbarbutton-icon {
  margin: 0;
}

.findbar-find-next[disabled="true"] .toolbarbutton-icon,
.findbar-find-previous[disabled="true"] .toolbarbutton-icon {
  opacity: 0.3;
}

/* find-next button */

.findbar-find-next {
  list-style-image: url(chrome://browser/skin/symbolic-icons/down.svg);
  border-radius: 0 3px 3px 0 !important;
}

/* find-previous button */

.findbar-find-previous {
  list-style-image: url(chrome://browser/skin/symbolic-icons/up.svg);
  border-radius: 0 !important;
  -moz-margin-end: 0;
}

/* highlight button */

.findbar-highlight {
  list-style-image: url(chrome://browser/skin/symbolic-icons/highlight.svg);
/*  -moz-margin-start: 6px;*/
}

.findbar-highlight[disabled="true"] {
  opacity: 0.5;
}

.findbar-closebutton {
  list-style-image: url(chrome://browser/skin/symbolic-icons/close.svg);
  padding: 1px !important;
}

.findbar-closebutton .toolbarbutton-icon {
  opacity: 0.5;
}
.findbar-closebutton:hover .toolbarbutton-icon {
  opacity: 1;
}

.find-status-icon {
  list-style-image: none;
  -moz-margin-end: 0;
  width: 16px;
  height: 16px;
}

.findbar-find-status {
  margin-top: 0;
  margin-bottom: 0;
  -moz-margin-start: 3px;
  -moz-margin-end: 0;
  padding: 2px !important;
}
.findbar-find-status:-moz-window-inactive {
  color: #a7aba7;
}

.find-status-icon[status="notfound"] {
  list-style-image: url(chrome://browser/skin/symbolic-icons/important.svg);
}

label.findbar-find-fast:-moz-window-inactive {
  color: #a7aba7;
}

.findbar-textbox {
  border-radius: 3px 0 0 3px !important;
  -moz-margin-end: 0;
}

.findbar-textbox[status="notfound"] {
  box-shadow: 0 0 0 1em #f66 inset;
  background: #f66;
  border-color: #f66;
  color: white;
}

.findbar-textbox[flash="true"] {
  box-shadow: 0 0 0 1em yellow inset;
  color: black;
}

.find-status-icon[status="wrapped"] {
  list-style-image: url(chrome://browser/skin/symbolic-icons/wrap.svg);
}

.find-status-icon:-moz-window-inactive {
  opacity: 0.5;
}

findbar checkbox > .checkbox-spacer-box > .checkbox-check {
  -moz-margin-end: -4px;
}

findbar checkbox:hover:active > .checkbox-spacer-box > .checkbox-check {
  background-color: transparent;
}

findbar checkbox:-moz-window-inactive {
  color: #a7aba7;
}
