/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 *  This defines the look-and-feel styling of the error pages.
 *  (see: netError.xhtml)
 *
 *  Original styling by William Price <bugzilla@mob.rice.edu>
 *  Updated by: Michael Ventnor <m.ventnor@gmail.com>
 */

html {
}

body {
  margin: 0;
  padding: 0;
  font: 11pt Cantarell;
  color: #2e3436;
  padding: 20px 20px 0 20px;
  background-color: #f6f6f4;
  background-image: linear-gradient(to bottom, #eeeeec, #f6f6f4);
  background-size: 100% 5em;
  background-repeat: no-repeat;
}

h1 {
  color: #babdb6;
  text-shadow: 0 1px 0 white;
  margin: 0 0 .3em 0;
  font-size: 160%;
}

ul, ol {
  margin: 0;
  -moz-margin-start: 1.5em;
  padding: 0;
}

ul > li, ol > li {
  margin-bottom: .5em;
}

ul {
  list-style: square;
}

#errorPageContainer {
  position: relative;
  min-width: 13em;
  max-width: 55em;
  margin: 5em auto;
  padding: 3em 0;
  -moz-padding-start: 5em;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 7em 2.5em;
  color: #2e3436;
}

#errorPageContainer > #errorLongContent{
  padding: 0 24px;
}

#errorPageContainer h1 {
  padding: 0 24px;
}

#errorPageContainer.certerror {
  background-image: url("chrome://global/skin/icons/sslWarning.png");
}

#errorPageContainer:-moz-dir(rtl) {
  background-position: right 0;
}

#errorTitle {
  -moz-margin-start: 80px;
}

#errorLongContent {
  -moz-margin-start: 80px;
}

#errorShortDesc > p {
  overflow: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 110%;
  font-weight: bold;
  white-space: pre-wrap;
}

#errorLongDesc {
}

#errorLongDesc > p {
  font-size: 110%;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  /*
  color: grey;
  */
}

#errorTryAgain {
  margin-top: 2em;
  -moz-appearance: none;
  border-radius: 3px;
  border: 1px solid;
  margin-left: 8em;
  border-color: rgba(0,0,0,.2);
  border-left: 1px solid rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(255,255,255,1) inset,
              0 1px rgba(255,255,255,1);
  background-image: linear-gradient(to bottom, #f5f5f5, #dcdcdc);
  padding: 4px 9px;
  transition-property: color, border, box-shadow, background-image;
  transition-duration: 200ms;
}

#errorTryAgain:hover {
  color: rgba(0,0,0,0.75);
  border-color: rgba(0,0,0,0.5);
}

#errorTryAgain:active {
  color: rgba(0,0,0,0.75);
  border-color: rgba(0,0,0,0.3);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2) inset,
              0 1px rgba(255,255,255,1);
  background-image: linear-gradient(to bottom, #F5F5F5, #DCDCDC);
  text-shadow: 0px 1px 0px rgba(255,255,255,0.6);
}

#brand {
  position: absolute;
  right: 0;
  bottom: -1.5em;
  -moz-margin-end: 10px;
  opacity: .4;
}

#brand:-moz-dir(rtl) {
  right: auto;
  left: 0;
}

#brand > p {
  margin: 0;
}

#errorContainer {
  display: none;
}

#securityOverrideDiv {
  padding-top: 10px;
}

#securityOverrideContent {
  background-color: InfoBackground;
  color: InfoText;
  padding: 10px;
  border-radius: 10px;
}

/* Custom styling for 'blacklist' error class */
:root.blacklist #errorTitle, :root.blacklist #errorLongContent,
:root.blacklist #errorShortDesc, :root.blacklist #errorLongDesc,
:root.blacklist a {
}

:root.blacklist #errorPageContainer {
}

:root.blacklist {
}

:root.blacklist #errorTryAgain {
  display: none;
}

/* Remove out-of place images in about:robots */
#errorPageContainer > img {
  display: none;
}

/* ::::: Ignore warning ::::: */

#ignoreWarning {
  -moz-margin-start: 80px;
  padding: 0 24px;
}
#ignoreWarningButton {
  /* Fix for inline style */
  color: #2e3436 !important;
  top: 0 !important;
  left: 0 !important;
}
