/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

notification {
  background: #faad3d;
  border-bottom: 1px solid #a7aba7;
  color: rgba(0,0,0,0.8) !important;
  text-shadow: none;
}

notification[type="info"] {
}

notification[type="critical"] {
}

.notification-inner {
  border: 0 !important;
  padding: 6px 0;
}

.messageText {
  margin-top: 0;
  margin-bottom: 0;
}

.messageImage {
  width: 16px;
  height: 16px;
  -moz-margin-start: 1em;
  -moz-margin-end: 1px;
}

/* Default icons for notifications */

.messageImage[type="info"] {
  list-style-image: url("chrome://browser/skin/symbolic-icons/information.svg");
}

.messageImage[type="warning"] {
  list-style-image: url("chrome://browser/skin/symbolic-icons/important.svg");
}

.messageImage[type="critical"] {
  list-style-image: url("chrome://browser/skin/symbolic-icons/critical.svg");
}

/* Replace icons */

notification[value="popup-blocked"] .messageImage,
notification[value="refresh-blocked"] .messageImage,
notification[value="offline-app-usage"] .messageImage,
notification[value*="offline-app-requested-"] .messageImage,
notification[value="missing-plugins"] .messageImage {
  min-width: 16px !important;
  max-width: 16px !important;
  min-height: 16px !important;
  -moz-padding-start: 16px !important;
  overflow: hidden !important;
}

notification[value="popup-blocked"] .messageImage,
notification[value="refresh-blocked"] .messageImage,
notification[value="offline-app-usage"] .messageImage,
notification[value*="offline-app-requested-"] .messageImage {
  background: url(chrome://browser/skin/symbolic-icons/info.svg) no-repeat center !important;
}

notification[value="missing-plugins"] .messageImage {
  background: url(chrome://browser/skin/symbolic-icons/plugin.svg) no-repeat center !important;
}

.messageCloseButton {
  list-style-image: url(chrome://browser/skin/symbolic-icons/close.svg);
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1em ;
}

/* Popup notification */

.popup-notification-description {
  max-width: 24em;
}

.popup-notification-button-container {
  margin-top: 17px;
}

.popup-notification-closeitem {
  list-style-image: url(chrome://browser/skin/symbolic-icons/close.svg);
}
