/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%filter substitution
%define infoIconValues [value="popup-blocked"], [value="refresh-blocked"], [value="offline-app-usage"], [value*="offline-app-requested-"]
%define pluginIconValues [value="missing-plugins"]
%define replaceIconValues @infoIconValues@, @pluginIconValues@

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

notification {
  background: #69a8e9;
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px hsla(0,0%,0%,.2);
}

notification[type="info"] {
  background-color: #69e981;
}

notification[type="critical"] {
  background-color: #f55a62;
}

.notification-inner {
  border: 0 !important;
  padding: 7px 9px 6px;
}

.messageText {
  margin: 0 8px !important;
}

.messageImage {
  width: 16px;
  height: 16px;
  -moz-margin-start: 5px;
  -moz-margin-end: 1px;
}

/* Default icons for notifications */

.messageImage[type="info"] {
  list-style-image: url("chrome://symbolic-icons/skin/information.svg");
}

.messageImage[type="warning"] {
  list-style-image: url("chrome://symbolic-icons/skin/important.svg");
}

.messageImage[type="critical"] {
  list-style-image: url("chrome://symbolic-icons/skin/critical.svg");
}

/* Replace custom icons */

notification:-moz-any(@replaceIconValues@) .messageImage {
  background: no-repeat center !important;
  filter: url(chrome://global/skin/filters.svg#notification-icon);
  min-width: 16px !important;
  max-width: 16px !important;
  min-height: 16px !important;
  -moz-padding-start: 16px !important;
  overflow: hidden !important;
}

notification:-moz-any(@infoIconValues@) .messageImage {
  background-image: url(chrome://symbolic-icons/skin/info.svg) !important;
}

notification:-moz-any(@pluginIconValues@) .messageImage {
  background-image: url(chrome://symbolic-icons/skin/plugin.svg) !important;
}

/* Close button */

notification .messageCloseButton {
  list-style-image: url(chrome://symbolic-icons/skin/close.svg);
  /* Override style from notificationButton.inc.css */
  -moz-margin-end: 0px !important;
  padding: 1px 3px 1px 4px !important;
  /* Override style for .close-icon from global.css */
  background-image: none !important;
}

notification .messageCloseButton > .toolbarbutton-icon {
  filter: url(chrome://browser/skin/symbolic-icons-colors.svg#white);
  min-width: 16px;
  min-height: 16px;
}

notification .messageCloseButton:hover > .toolbarbutton-icon {
  filter: url(chrome://global/skin/filters.svg#notification-icon);
}

:not(notification) .messageCloseButton {
%if APP_VERSION == 30
  -moz-appearance: none;
  width: 16px;
  height: 16px;
%endif
  padding-left: 11px;
  padding-right: 11px;
}

/* Popup notification */

.popup-notification-description {
  max-width: 24em;
}

.popup-notification-learnmore-link {
  margin-top: 1em !important;
}

.popup-notification-learnmore-link:not([href]) {
  display: none;
}

.popup-notification-button-container {
  margin-top: 17px;
}
