/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

notification {
  background: -moz-linear-gradient(to bottom, #D4D4D4, #ECECEC);
  color: rgba(0,0,0,0.8) !important;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2) inset;
  text-shadow: none;

  /* FIXME */
  width: -moz-calc(100% + 2px);
  -moz-margin-start: -1px;
  margin-top: -1px;
}

notification[type="info"] {
/*  background-color: -moz-Dialog;*/
/*  color: -moz-DialogText;*/
}

notification[type="critical"] {
/*  background-color: red;*/
/*  color: white;*/
}

.notification-inner {
  padding-top: 1px;
  padding-bottom: 1px;
}

.messageText {
  margin-top: 0;
  margin-bottom: 0;
}

.messageImage {
  width: 16px;
  height: 16px;
  -moz-margin-start: 1em;
  -moz-margin-end: 1px;
}

/* Default icons for notifications */

.messageImage[type="info"] {
  list-style-image: url("chrome://browser/skin/symbolic-icons/information.svg");
}

.messageImage[type="warning"] {
  list-style-image: url("chrome://browser/skin/symbolic-icons/important.svg");
}

.messageImage[type="critical"] {
  list-style-image: url("chrome://browser/skin/symbolic-icons/critical.svg");
}

/* Replace Icon.png */

notification[value="popup-blocked"] .messageImage,
notification[value="refresh-blocked"] .messageImage,
notification[value="offline-app-usage"] .messageImage,
notification[value*="offline-app-requested-"] .messageImage {
  background: url(chrome://browser/skin/symbolic-icons/info.svg) no-repeat center !important;
  min-width: 16px !important;
  max-width: 16px !important;
  min-height: 16px !important;
  -moz-padding-start: 16px !important;
  overflow: hidden !important;

.messageCloseButton {
  list-style-image: url("chrome://browser/skin/tabbrowser/close-normal.png");

  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1em ;
}

/* Popup notification */

.popup-notification-description {
  max-width: 24em;
}

.popup-notification-button-container {
  margin-top: 17px;
}

.popup-notification-closeitem {
  list-style-image: url("chrome://browser/skin/tabbrowser/close-normal.png");
}
