/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== radio.css ===================================================
  == Styles used by the XUL radio element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: radio ::::: */

radio {
/*  -moz-appearance: radio-container;*/
  -moz-appearance: none;
  margin: 2px 4px;
}

.radio-spacer-box {
/*  -moz-appearance: radio;*/
  -moz-appearance: none;
  -moz-box-align: center;
  margin: 2px;
}

.radio-label-center-box {
  -moz-box-align: center;
}

.radio-label-box {
/*  -moz-appearance: radio-label;*/
  -moz-appearance: none;
  border: 1px dashed transparent;
  padding: 2px;
  -moz-margin-start: 2px;
}

.radio-icon[src] {
  -moz-margin-end: 2px;
}

.radio-label {
  margin: 0 !important;
}

/* ..... focused state ..... */

radio[focused="true"] > .radio-label-center-box > .radio-label-box {
  border: 1px dashed #c0c2c3;
}

/* ..... disabled state ..... */

radio[disabled="true"] > .radio-spacer-box > .radio-check-box1 {
/*  background-color: -moz-Dialog;*/
}

radio[disabled="true"] {
  color: GrayText;
}

/* ::::: checkmark image ::::: */

.radio-check-box1 {
  min-width: 16px;
  min-height: 16px;
  background: url(chrome://global/skin/radio/radio-bkg.png) no-repeat center;
}

.radio-check-box2 {
  margin: 3px;
  min-width: 10px;
  min-height: 10px;
}

radio:not([disabled="true"]):hover {
  color: -moz-buttonhovertext;
  text-shadow: none;
}

radio:hover:active > .radio-spacer-box > .radio-check-box1 {
/*  background-color: -moz-Dialog;*/
}

/* ..... selected state ..... */

radio[selected="true"] > .radio-spacer-box > .radio-check-box1 > .radio-check-box2 {
  list-style-image: url(chrome://global/skin/radio/radio-checked.png);
}

radio[selected="true"][disabled="true"] > .radio-spacer-box > .radio-check-box1 > .radio-check-box2 {
  list-style-image: url(chrome://global/skin/radio/radio-disabled.png) !important;
}
