/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== textbox.css ==================================================
  == Styles used by the XUL textbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: textbox ::::: */

textbox {
 -moz-appearance: none;
  border: 1px solid rgba(0,0,0,.25);
  border-radius: 3px;
  background-image: -moz-linear-gradient(top, #f2f2f2, #fdfdfd);
  padding: 3px;
  box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.15),
  		    0px 1px 0 0 rgba(255,255,255,0.89);
  margin: 4px;
    color: rgba(0,0,0,0.9);
}

textbox[focused="true"],
.searchbar-textbox[focused="true"] {
  border-color: rgba(0, 87, 179, 0.5);
  border-color: #729fcf;
  box-shadow: 0 1px 0 rgba(255,255,255,0.6), inset 0 1px 2px 0 rgba(0,106,221,0.3);
}


html|*.textbox-input, 
html|*.textbox-textarea {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

html|*.textbox-input:-moz-placeholder,
html|*.textbox-textarea:-moz-placeholder {
  color: GrayText;
}

.textbox-contextmenu {
  cursor: default;
}

/* ..... readonly state ..... */

textbox[readonly="true"] {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
  border: none;
  border-radius: 0px;
  background-image: none;
  padding: 0px;
  box-shadow: none;
}

/* ..... disabled state ..... */

textbox[disabled="true"] {
  cursor: default;
  background-color: -moz-Dialog;
  color: GrayText;
}

/* ::::: plain textbox ::::: */

textbox.plain {
  -moz-appearance: none !important;
  background-color: transparent;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
}

/* ::::: search textbox ::::: */

.textbox-search-icon {
  list-style-image: url("chrome://browser/skin/symbolic-icons/search.svg");
  opacity: 0.5;
}

.textbox-search-clear {
  list-style-image: url("chrome://browser/skin/symbolic-icons/clear.svg");
}

.textbox-search-icon[searchbutton]:not([disabled]) ,
.textbox-search-clear:not([disabled]) {
  cursor: pointer;
}

/* ::::: textboxes inside toolbarpaletteitems ::::: */

toolbarpaletteitem > toolbaritem > textbox > .textbox-input-box > html|*.textbox-input {
  visibility: hidden;
}

/* ::::: context menu ::::: */

menuitem:not([type]) {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

menuitem[cmd="cmd_undo"] {
  list-style-image: url("moz-icon://stock/gtk-undo?size=menu");
}

menuitem[cmd="cmd_undo"][disabled] {
  list-style-image: url("moz-icon://stock/gtk-undo?size=menu&state=disabled");
}

menuitem[cmd="cmd_cut"] {
  list-style-image: url("moz-icon://stock/gtk-cut?size=menu");
}

menuitem[cmd="cmd_cut"][disabled] {
  list-style-image: url("moz-icon://stock/gtk-cut?size=menu&state=disabled");
}

menuitem[cmd="cmd_copy"] {
  list-style-image: url("moz-icon://stock/gtk-copy?size=menu");
}

menuitem[cmd="cmd_copy"][disabled] {
  list-style-image: url("moz-icon://stock/gtk-copy?size=menu&state=disabled");
}

menuitem[cmd="cmd_paste"] {
  list-style-image: url("moz-icon://stock/gtk-paste?size=menu");
}

menuitem[cmd="cmd_paste"][disabled] {
  list-style-image: url("moz-icon://stock/gtk-paste?size=menu&state=disabled");
}

menuitem[cmd="cmd_delete"] {
  list-style-image: url("moz-icon://stock/gtk-delete?size=menu");
}

menuitem[cmd="cmd_delete"][disabled] {
  list-style-image: url("moz-icon://stock/gtk-delete?size=menu&state=disabled");
}

menuitem[cmd="cmd_selectAll"] {
  list-style-image: url("moz-icon://stock/gtk-select-all?size=menu");
}

menuitem[cmd="cmd_selectAll"][disabled] {
  list-style-image: url("moz-icon://stock/gtk-select-all?size=menu&state=disabled");
}

