/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== toolbarbutton.css =====================================================
  == Styles used by the XUL button element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: toolbarbutton ::::: */

toolbarbutton {
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0;
  padding: 3px;
  color: -moz-DialogText;
}

toolbarbutton:-moz-lwtheme {
  text-shadow: none;
}

.toolbarbutton-icon[label]:not([label=""]),
.toolbarbutton-icon[type="menu"] {
  -moz-margin-end: 2px;
}

.toolbarbutton-text {
  margin: 0 !important;
  text-align: center;
}

toolbarbutton.tabbable {
  -moz-user-focus: normal !important;
}

toolbarbutton:not([disabled]):hover,
.toolbarbutton-menubutton-dropmarker:hover {
  color: -moz-buttonhovertext;
  background: -moz-linear-gradient(top, rgba(246,247,246,0), rgba(246,247,246,0) 3%, rgba(246,247,246,0.09) 14%, rgba(246,247,246,0.39) 54%, rgba(246,247,246,0.09) 89%, rgba(246,247,246,0) 97%, rgba(246,247,246,0));
  filter:url(filter.svg#brighten);
}

#navigator-toolbox[tabsontop="false"] toolbarbutton:not([disabled]):active,
#navigator-toolbox[tabsontop="false"] toolbarbutton:not([disabled]):active:hover,
#navigator-toolbox[tabsontop="false"] toolbarbutton[open="true"],
#navigator-toolbox[tabsontop="false"] toolbarbutton[open="true"]:hover,
#navigator-toolbox[tabsontop="false"] toolbarbutton[open="true"]:active,
#navigator-toolbox[tabsontop="false"] toolbarbutton[open="true"]:active:hover {
  background-color: white;
  border-radius: 3px 3px 0 0;
}

toolbarbutton:not([disabled]):hover:active,
toolbarbutton:not([disabled]):active {
  /*
  padding: 4px 2px 2px 4px;
  */
}

toolbarbutton:active,
toolbarbutton[open="true"] {
  /*
  padding-top: 4px;
  padding-bottom: 2px;
  -moz-padding-start: 4px;
  -moz-padding-end: 2px;
  */
  color: ButtonText;
}

toolbarbutton[disabled="true"],
toolbarbutton[disabled="true"]:hover,
toolbarbutton[disabled="true"]:hover:active,
toolbarbutton[disabled="true"][open="true"] {
  padding: 3px;
  color: GrayText;
}

toolbarbutton[checked="true"]:not(:hover) {
  color: ButtonText;
}

toolbarbutton:-moz-lwtheme:not(:hover):not([checked="true"]):not([open="true"]):not([disabled="true"]) {
  color: inherit;
  text-shadow: inherit;
}

/* ::::: toolbarbutton radio buttons ::::: */

toolbarbutton[type="radio"] {
  -moz-appearance: none;
  border: none;
  border-radius: 3px;
  color: rgba(0,0,0,0.65);
  padding: 4px 7px !important;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.6);
}

toolbarbutton[type="radio"][checked="true"] {
  background-image: -moz-linear-gradient(top, #a7aba7, #e1e1e1);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6) , 0 0 0 1px rgba(0, 10, 0, 0.2) inset !important;
  color: white !important;
  text-shadow: 0.5px 0 0.5px rgba(255, 255, 255, 0.6), 0.5px 1px 0 rgba(0, 0, 0, 0.4);
}

/* ::::: toolbarbutton menu ::::: */

.toolbarbutton-menu-dropmarker {
  /*
  -moz-appearance: toolbarbutton-dropdown !important;
  list-style-image: none;
  */
  -moz-appearance: none !important;
  list-style-image: url(chrome://browser/skin/symbolic-icons/dropmarker.svg);
  -moz-image-region: auto;
  padding: 0;
  margin: 0;
}

.toolbarbutton-menu-dropmarker[disabled="true"] {
  padding: 0 !important;
}

/* ::::: toolbarbutton menu-button ::::: */

toolbarbutton[type="menu-button"] {
  -moz-box-align: stretch;
  -moz-box-orient: horizontal !important;
  background: none !important;
}
toolbarbutton[type="menu-button"] > toolbarbutton:hover {
}

toolbarbutton[type="menu-button"],
toolbarbutton[type="menu-button"]:hover,
toolbarbutton[type="menu-button"]:hover:active,
toolbarbutton[type="menu-button"][open="true"],
toolbarbutton[type="menu-button"][disabled="true"],
toolbarbutton[type="menu-button"][disabled="true"]:hover,
toolbarbutton[type="menu-button"][disabled="true"]:hover:active {
  padding: 0 !important;
}

.toolbarbutton-menubutton-button {
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
}

/* .......... dropmarker .......... */

.toolbarbutton-menubutton-dropmarker {
  -moz-appearance: none;
  /*
  padding: 3px;
  -moz-appearance: toolbarbutton-dropdown !important;
  */
  list-style-image: none;
  -moz-image-region: auto;
}
