/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== toolbarbutton.css =====================================================
  == Styles used by the XUL button element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: toolbarbutton ::::: */

toolbarbutton {
  -moz-appearance: none;
  -moz-box-align: center;
  -moz-box-pack: center;
  background: transparent !important;
  border: 1px solid transparent !important;
  border-radius: 3px;
/*  color: -moz-DialogText;*/
  color: #2e3436 !important;
  padding: 3px;
  margin: 0;
  text-shadow: none;
  -moz-transition-property: color, border, box-shadow, background;
  -moz-transition-duration: 300ms;
}

.toolbarbutton-icon[label]:not([label=""]),
.toolbarbutton-icon[type="menu"] {
  -moz-margin-end: 2px;
}

.toolbarbutton-text {
  margin: 0 !important;
  text-align: center;
}

toolbarbutton.tabbable {
  -moz-user-focus: normal !important;
}

toolbarbutton:not([disabled]):hover,
.toolbarbutton-menubutton-dropmarker:hover {
  background-image: -moz-linear-gradient(to bottom, #ffffff, #ebebeb) !important; /* For Fx 15 */
  background-image: linear-gradient(to bottom, #ffffff, #ebebeb) !important;
  border: 1px solid rgba(0,0,0,.25) !important;
  box-shadow: 0 1px 0 rgba(255,255,255,0.89) !important;
}

toolbarbutton:not([disabled]):active,
toolbarbutton:not([disabled]):active:hover,
toolbarbutton[checked="true"],
toolbarbutton[checked="true"]:hover {
  background-image: -moz-linear-gradient(to bottom, #c9c9c9, #e4e4e4) !important; /* For Fx 15 */
  background-image: linear-gradient(to bottom, #c9c9c9, #e4e4e4) !important;
/*  border-color: #72a0cf;*/
  border: 1px solid rgba(0,0,0,.25) !important;
  box-shadow: 0 1px 0 rgba(255,255,255,0.89) !important;
}

toolbarbutton[open="true"],
toolbarbutton[open="true"]:hover,
toolbarbutton[open="true"]:active,
toolbarbutton[open="true"]:active:hover {
  background: #ffffff !important;
  border: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 rgba(255,255,255,0.89) !important;
  border-radius: 3px 3px 0 0;
}

/* ::::: toolbarbutton menu ::::: */

.toolbarbutton-menu-dropmarker {
  -moz-appearance: toolbarbutton-dropdown !important;
  list-style-image: none;
  -moz-image-region: auto;
  border: none !important;
  background-color: transparent !important;
  padding: 0;
  margin: 0;
}

.toolbarbutton-menu-dropmarker[disabled="true"] {
  padding: 0 !important;
}

/* ::::: toolbarbutton menu-button ::::: */

toolbarbutton[type="menu-button"] {
  -moz-box-align: stretch;
  -moz-box-orient: horizontal !important;
  background: none !important;
}
toolbarbutton[type="menu-button"] > toolbarbutton:hover {
}

toolbarbutton[type="menu-button"],
toolbarbutton[type="menu-button"]:hover,
toolbarbutton[type="menu-button"]:hover:active,
toolbarbutton[type="menu-button"][open="true"],
toolbarbutton[type="menu-button"][disabled="true"],
toolbarbutton[type="menu-button"][disabled="true"]:hover,
toolbarbutton[type="menu-button"][disabled="true"]:hover:active {
  border-style: none;
  padding: 0 !important;
}

.toolbarbutton-menubutton-button {
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
}

/* .......... dropmarker .......... */

.toolbarbutton-menubutton-dropmarker {
  -moz-appearance: none;
  list-style-image: none;
  -moz-image-region: auto;
}
.dropmarker-icon {
  -moz-appearance: toolbarbutton-dropdown;
}
