/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.findbar-find-next {
  list-style-image: url(chrome://os/skin/browser/symbolic-icons/go-down.svg) !important;
}

.findbar-find-previous {
  list-style-image: url(chrome://os/skin/browser/symbolic-icons/go-up.svg) !important;
}
