/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");

body {
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 48px;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 160%;
  margin: 0 0 .3em 0;
  padding: 0 24px;
}

h2 {
  font-size: 130%;
  font-weight: normal;
}

/*Replace the bold text with a nicer alternative*/
p > b {
  font-weight: normal;
  color: #868883;
}

#errorPageContainer {
  position: relative;
  min-width: 13em;
  max-width: 55em;
  margin: 5em auto 0;
  padding: 3em 0;
  -moz-padding-start: 5em;
  background-image: url(chrome://browser/skin/about-pages/connection-untrusted.svg);
  background-repeat: no-repeat;
  background-position: 56px 51px;
  color: ButtonText;
}

#errorPageContainer:-moz-dir(rtl) {
  background-position: right 56px top 51px;
}

#errorTitle {
  -moz-margin-start: 150px;
}

#errorLongContent {
  -moz-margin-start: 150px;
  padding: 0 24px;
}

#introContentP1 {
  margin-top: 2em;
  font-weight: bold;
}

#introContentP1 > b {
  color: #f59506;
  font-weight: bold;
}

#errorTitleText {
  color: #f59506;
  text-shadow: none;
}

#errorCode {
  white-space: nowrap;
}

#certificateErrorDebugInformation {
  display: none;
  background-color: var(--in-content-box-background-hover) !important;
  border-top: 1px solid var(--in-content-border-color);
  position: absolute;
  left: 0%;
  top: 100%;
  width: 65%;
  padding: 1em 17.5%;
}

#certificateErrorText {
  font-family: monospace;
  white-space: pre-wrap;
  padding: 1em 0;
}

#buttonContainer {
  display: flex;
  flex-flow: row wrap;
}

#buttonSpacer {
  flex: 1;
}

/* Advanced section is hidden via inline styles until the link is clicked */
#advancedPanel {
  background-color: white;
  color: var(--in-content-text-color);
  border: 1px lightgray solid;
  /* Don't use top padding because the default p style has top padding, and it
   * makes the overall div look uneven */
  padding: 0 12px 10px;
  margin-top: 10px;
  box-shadow: 0 0 4px #ddd;
  font-size: 0.9em;
}

.hostname {
  font-weight: bold;
}

#exceptionDialogButton,
#getMeOutOfHereButton {
  -moz-margin-start: 17px;
}
