/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include variables.inc.css

#PopupSearchAutoComplete {
  -moz-margin-start: -24px;
  padding: 1px;
}

.searchbar-textbox {
  min-height: 22px;
  background-color: -moz-field;
}

.autocomplete-textbox-container {
  -moz-box-align: stretch;
}

.textbox-input-box {
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
  font-weight: bold;
}

/* Engine button */

.searchbar-engine-button {
  -moz-appearance: none;
  min-width: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  -moz-box-align: center;
  background: transparent;
  box-shadow: none;
  height: 26px;
  min-width: 26px;
  padding: 5px;
}

.searchbar-engine-image {
  height: 16px;
  width: 16px;
  list-style-image: url(chrome://mozapps/skin/places/defaultFavicon.png);
}

.searchbar-engine-button > .button-box {
  -moz-appearance: none;
  padding: 0;
  border: 0;
}

.searchbar-engine-button:active,
.searchbar-engine-button[open="true"] {
  background-image: linear-gradient(to bottom, #d1d1d1, #ffffff) !important;
  box-shadow: inset 0 1px 1px 0 hsla(0,0%,0%,.15) !important;
}

toolbar[brighttext] .searchbar-engine-button:active,
toolbar[brighttext] .searchbar-engine-button[open="true"] {
  background-image: linear-gradient(to bottom, #272727, #333333) !important;
}

.searchbar-dropmarker-image {
  display: none;
}

/* Containers */
.search-go-container,
.searchbar-search-button-container {
  -moz-box-align: center;
  opacity: .35;
}

toolbar[brighttext] .search-go-container:not(:hover),
toolbar[brighttext] .searchbar-search-button-container:not(:hover) {
  opacity: .2;
}

.search-go-container:hover,
.searchbar-search-button-container:hover {
  opacity: 1;
}

.search-go-container:active,
.searchbar-search-button-container:active {
  background-image: linear-gradient(to bottom, #d1d1d1, #ffffff) !important;
  box-shadow: inset 0 1px 1px 0 hsla(0,0%,0%,.15) !important;
}

toolbar[brighttext] .search-go-container:active,
toolbar[brighttext] .searchbar-search-button-container:active {
  background-image: linear-gradient(to bottom, #272727, #333333) !important;
}

/* Search go button */

.search-go-button {
  list-style-image: url(chrome://symbolic-icons/skin/edit-find.svg);
  height: 26px;
  min-width: 26px;
  padding: 5px;
}

searchbar[oneoffui] .search-go-button {
  list-style-image: url(chrome://symbolic-icons/skin/go-next.svg);
}

searchbar[oneoffui] .search-go-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
  transform: scaleX(-1);
}

/* FIXME */
menuitem[cmd="cmd_clearhistory"] {
  list-style-image: url(moz-icon://stock/gtk-clear?size=menu);
}

menuitem[cmd="cmd_clearhistory"][disabled] {
  list-style-image: url(moz-icon://stock/gtk-clear?size=menu&state=disabled);
}

/* Search button */

.searchbar-search-button {
  list-style-image: url(chrome://symbolic-icons/skin/edit-find.svg);
  height: 26px;
  min-width: 26px;
  padding: 5px;
}

.searchbar-search-button[addengines="true"] {
  list-style-image: url(chrome://symbolic-icons/skin/search-field.svg);
}

/* ... */

.search-panel-current-engine {
  border-top: none !important;
  -moz-box-align: center;
}

.search-panel-current-engine {
  border-bottom: 1px solid #ccc;
}

.search-panel-header {
  font-weight: normal;
  background-color: rgb(245, 245, 245);
  border-top: 1px solid #ccc;
  padding: 3px 5px;
  color: #666;
}

.search-panel-tree[collapsed=true] + .search-panel-header {
  border-top: none;
}

.search-panel-header > label {
  margin-top: 2px !important;
  margin-bottom: 1px !important;
}

.search-panel-current-input > label {
  margin: 2px 0 1px !important;
}

.search-panel-input-value {
  color: black;
}

.search-panel-one-offs {
  margin: 0 -1px !important;
  border-top: 1px solid #ccc;
}

.searchbar-engine-one-off-item {
  -moz-appearance: none;
  display: inline-block;
  border: none;
  min-width: 48px;
  height: 32px;
  margin: 0 0;
  padding: 0 0;
  background: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAYAAAABxvaqAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gofECQNNVW2/AAAABBJREFUGFdjOHPmzH8GehEA/KpKg9YTf4AAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-position: right center;
}

.searchbar-engine-one-off-item:not(.last-row) {
  box-sizing: content-box;
  border-bottom: 1px solid #ccc;
}

.searchbar-engine-one-off-item.last-of-row {
  background-image: none;
}

.searchbar-engine-one-off-item[selected] {
  background-color: Highlight;
  background-image: none;
}

.searchbar-engine-one-off-item > .button-box {
  border: none;
  padding: 0;
}

.searchbar-engine-one-off-item > .button-box > .button-text {
  display: none;
}

.searchbar-engine-one-off-item > .button-box > .button-icon {
  display: -moz-box;
  -moz-margin-end: 0;
  width: 16px;
  height: 16px;
}

.addengine-item {
  -moz-appearance: none;
  border: none;
  height: 32px;
  margin: 0;
  padding: 0 10px;
}

.addengine-item > .button-box {
  -moz-box-pack: start;
}

.addengine-item:first-of-type {
  border-top: 1px solid #ccc;
}

.addengine-item[selected] {
  background-color: Highlight;
  color: HighlightText;
}

.addengine-icon {
  width: 16px;
}

.addengine-badge {
  width: 16px;
  height: 16px;
  margin: -7px -9px 7px 9px;
  list-style-image: url("chrome://browser/skin/badge-add-engine.png");
}

.addengine-item > .button-box > .button-text {
  -moz-box-flex: 1;
  text-align: start;
  -moz-padding-start: 10px;
}

.addengine-item:not([image]) {
  list-style-image: url("chrome://browser/skin/search-engine-placeholder.png");
}

searchbar[oneoffui] .searchbar-engine-button {
  display: none;
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-cell {
  border-top: none !important;
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-cell-text {
  -moz-padding-start: 4px;
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-image {
  -moz-padding-start: 5px;
  width: 14px;
  height: 14px;
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-image(fromhistory) {
  list-style-image: url("chrome://browser/skin/search-history-icon.svg#search-history-icon");
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-image(fromhistory, selected) {
  list-style-image: url("chrome://browser/skin/search-history-icon.svg#search-history-icon-active");
}

searchbar[oneoffui] .searchbar-engine-image {
  -moz-margin-start: -1px;
}

.search-setting-button {
  -moz-appearance: none;
  border: none;
  border-top: 1px solid #ccc;
  margin: 0;
  min-height: 32px;
}

.search-setting-button[selected] {
  background-color: #d3d3d3;
  border-top-color: #bdbebe;
}
